<div class="row">
  <div class="form-group col-md-6">
    <label for="car_model" class="col-md-4 control-label">车型</label>
    <div class="col-md-9 inputBox">
      <div class="dropdown w100p">
        <input type="text" id="car_type_input" name="post[car_model_id]" class="form-control input-sm" placeholder="输入不得超过10个字符" maxlength="10" required="required">
      </div>
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="car_style" class="col-md-4 control-label">款式</label>
    <div class="col-md-9 inputBox">
      <div class="dropdown w100p">
        <input type="text" id="car_style_input" name="post[base_car_id]" class="form-control input-sm" placeholder="输入不得超过20个字符" maxlength="20" required="required">
      </div>
    </div>
  </div>
</div>
<%= render 'need_info' %>
