<div class="panel panel-default contentBox">
  <div class="panel-heading lineTitle">
    <h3 class="panel-title">我要寻车</h3>
  </div>
  <div class="panel-body">
    <form class="form-horizontal sourceForm"action="<%= user_my_posts_path %>" method="post">
      <div id='form_select'>
        <%= render partial: 'form_select', locals: {standards: @standards, brands: @brands, car_models: @car_models, base_cars: @base_cars, outer_colors: @outer_colors, inner_colors: @inner_colors, areas: @areas, price: @price} %>
      </div>
      <div class="sFormBox clearfix">
        <div class="sFormTag bfL">备注</div>
        <div class="sFormArea"><textarea class="form-control" rows="3" name="post[remark]"></textarea></div>
        <input class='hide' name="post[_type]" value="<%= @post._type %>">
      </div>
      <div class="subGroup row">
        <div class="form-group">
          <input type="submit" class="btn btn-default orange btn_spacing" value="发布" />
          <input type="reset" class="btn btn-default btn_spacing" value="取消" />
        </div>
      </div>
    </form>
  </div>
</div>
