<div class="panel panel-default contentBox">
  <div class="panel-heading lineTitle">
    <h3 class="panel-title">发布资源</h3>
  </div>
  <div class="panel-body">
    <form class="form-horizontal sourceForm">
      <div class="row first">
        <div class="form-group col-md-6">
          <label for="car_standard" class="col-md-4 control-label">规格</label>
          <div class="col-md-9 inputBox">
            <div class="dropdown w100p">
              <select name="" class="form-control input-sm" id="car_standard">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="car_brand" class="col-md-4 control-label">品牌</label>
          <div class="col-md-9 inputBox">
            <div class="dropdown w100p">
              <select name="" class="form-control input-sm" id="car_brand">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="car_model" class="col-md-4 control-label">车型</label>
          <div class="col-md-9 inputBox">
            <div class="dropdown w100p">
              <select name="" class="form-control input-sm" id="car_model">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="car_style" class="col-md-4 control-label">款式</label>
          <div class="col-md-9 inputBox">
            <div class="dropdown w100p">
              <select name="" class="form-control input-sm" id="car_style">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="car_appearance" class="col-md-4 control-label">外观</label>
          <div class="col-md-9 inputBox">
            <div class="dropdown w100p">
              <select name="" class="form-control input-sm" id="car_appearance">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="car_interior" class="col-md-4 control-label">内饰</label>
          <div class="col-md-9 inputBox">
            <div class="dropdown w100p">
              <select name="" class="form-control input-sm" id="car_interior">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="car_status" class="col-md-4 control-label">状态</label>
          <div class="col-md-9 inputBox">
            <div class="dropdown w100p">
              <select name="" class="form-control input-sm" id="car_status">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="methodSelect row">
        <div class="tt clearfix">
          <h5 class="col-md-6">报价方式</h5>
          <h5 class="col-md-6">指导价：<span id="guidePrice">39.68</span>万</h5>
        </div>
        <div class="form-group form-inline col-md-6">
          <label class="radio selectTag">
            <input type="radio" name="methodRadios" id="methodRadios1" value="option1"><span>优惠点数</span>
          </label>
          <label class="selectInput">
            <input type="text" class="form-control input-sm" id="methodVal1" placeholder="" disabled="true">
            <div class="units">点数</div>
          </label>
        </div>
        <div class="form-group form-inline col-md-6">
          <label class="radio selectTag">
            <input type="radio" name="methodRadios" id="methodRadios2" value="option2"><span>优惠金额</span>
          </label>
          <label class="selectInput">
            <input type="text" class="form-control input-sm" id="methodVal2" placeholder="" disabled="true">
            <div class="units">万元</div>
          </label>
        </div>
        <div class="form-group form-inline col-md-6">
          <label class="radio selectTag">
            <input type="radio" name="methodRadios" id="methodRadios3" value="option3"><span>加价金额</span>
          </label>
          <label class="selectInput">
            <input type="text" class="form-control input-sm" id="methodVal3" placeholder="" disabled="true">
            <div class="units">万元</div>
          </label>
        </div>
        <div class="form-group form-inline col-md-6">
          <label class="radio selectTag">
            <input type="radio" name="methodRadios" id="methodRadios4" value="option4"><span>直接报价</span>
          </label>
          <label class="selectInput">
            <input type="text" class="form-control input-sm" id="methodVal4" placeholder="" disabled="true">
            <div class="units">万元</div>
          </label>
        </div>
        <div class="form-group form-inline col-md-6">
          <label class="radio selectTag">
            <input type="radio" name="methodRadios" id="methodRadios5" value="option5"><span>暂不报价</span>
          </label>
        </div>
      </div>
      <div class="sFormBox clearfix">
        <div class="sFormTag bfL">照片</div>
        <ul class="row first sFormArea addImgGroups">
          <li class="col-md-3">
            <div class="thumbnail box">
              <div class="img"><span class="alt">正面</span><%= image_tag("index/hotCar.jpg", alt: "", width: "100%")%></div>
              <div class="fileInput">
                <div class="fileBtn">添加照片<input type="file" class="button" /></div>
              </div>
            </div>
          </li>
          <li class="col-md-3">
            <div class="thumbnail box">
              <div class="img"><span class="alt">侧面</span><%= image_tag("index/hotCar.jpg", alt: "", width: "100%")%></div>
              <div class="fileInput">
                <div class="fileBtn">添加照片<input type="file" class="button" /></div>
              </div>
            </div>
          </li>
          <li class="col-md-3">
            <div class="thumbnail box">
              <div class="img"><span class="alt">背面</span><%= image_tag("index/hotCar.jpg", alt: "", width: "100%")%></div>
              <div class="fileInput">
                <div class="fileBtn">添加照片<input type="file" class="button" /></div>
              </div>
            </div>
          </li>
          <li class="col-md-3">
            <div class="thumbnail box">
              <div class="img"><span class="alt">车内</span><%= image_tag("index/hotCar.jpg", alt: "", width: "100%")%></div>
              <div class="fileInput">
                <div class="fileBtn">添加照片<input type="file" class="button" /></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="sFormBox mt-20 clearfix">
        <div class="sFormTag bfL">备注</div>
        <div class="sFormArea"><textarea class="form-control" rows="3"></textarea></div>
      </div>
      <div class="subGroup row">
        <div class="form-group">
          <input type="submit" class="btn btn-default orange btn_spacing" value="发布" />
          <input type="reset" class="btn btn-default btn_spacing" value="取消" />
        </div>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
  $(".selectInput").find("input.form-control").attr("disabled","true");
  $(".methodSelect > .form-group").find(".selectTag").click(function (e) {
    if ($(this).hasClass("disabled")) return false;
    $(".selectInput").find("input.form-control").attr("disabled","true");
    $(this).next(".selectInput").find("input.form-control").removeAttr("disabled");
    $(".selectInput").removeClass("active");
    $(".methodSelect > .form-group").find(".selectTag").removeClass("active");
    $(this).addClass("active").siblings().removeClass("active");
    $(this).next(".selectInput").addClass("active").focus();
  });

  var gPrice = parseFloat($("#guidePrice").html());
  $("#methodVal1").keyup(function(){
    var value1 = $("#methodVal1").val();
    var value2 = $("#methodVal2").val();
    var value3 = $("#methodVal3").val();
    var value4 = $("#methodVal4").val();

    $("#methodVal2").val(gPrice * value1 / 100);
    $("#methodVal4").val(gPrice - value2);
    //clearNoNum(value2);
    //alert(clearNoNum(value2));
  });

  $("#methodVal2").keyup(function(){
    var value1 = $("#methodVal1").val();
    var value2 = $("#methodVal2").val();
    var value3 = $("#methodVal3").val();
    var value4 = $("#methodVal4").val();

    $("#methodVal1").val(gPrice / value2);
    $("#methodVal4").val(gPrice - $(this).val());
  });

  $(".selectInput").find("input.form-control").keyup(function(){
    clearNoNum(this);
  });
});

function clearNoNum(obj){
  obj.value = obj.value.replace(/[^\d.]/g,""); //清除"数字"和"."以外的字符
  obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3'); //只能输入两个小数
}
</script>
