<div class="container">
  <ol class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li class="active">我的资源</li>
  </ol>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9 mainBox">
      <div class="panel panel-default contentBox">
        <div class="panel-heading lineTitle">
          <h3 class="panel-title">我的资源</h3>
        </div>
        <div class="panel-body">
          <div class="mySourceOpe clearfix">
            <div class="bfL">
              <a class="btn btn-default orange mr14" href="#" role="button">添加资源</a>
              <div class="btn-group">
                <select name="" class="form-control">
                  <option value="筛选品牌">筛选品牌</option>
                  <option value="品牌1">品牌1</option>
                  <option value="品牌2">品牌2</option>
                </select>
              </div>
            </div>
            <div class="bfR">
              <div class="updateTime mr20 bfL">最后更新时间：<span>2015/3/8 16:20</span></div>
              <button class="btn btn-default bfR" type="button"><span class="icon icon_update"></span>全部更新</button>
            </div>
          </div>
          <div class="mySourceTab mt10">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped">
              <tbody>
                <tr>
                  <td>
                    <div class="box clearfix">
                      <div class="infoM">
                        <h5 class="name"><a href="#">路虎 揽胜运动 款式名称 3345</a></h5>
                        <div class="info clearfix">
                          <div class="m">中规/现车</div>
                          <div class="m">黑/白</div>
                        </div>
                      </div>
                      <div class="infoPrice">
                        <p><span class="price"><i class="icon icon_money"></i>37.68万</span><span class="time">16:30</span></p>
                        <p>指导价：39.68万/下2万</p>
                      </div>
                    </div>
                    <div class="remark clearfix">
                      <div class="tt bfL">备注：</div>
                      <div class="info"></div>
                    </div>
                    <div class="btnGroups">
                      <a class="btn btn-default btn-xs" href="#" role="button">编辑</a>
                      <a class="btn btn-default btn-xs" href="#" role="button">上移</a>
                      <a class="btn btn-default btn-xs" href="#" role="button">下移</a>
                      <a class="btn btn-default btn-xs" href="#" role="button">删除</a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="box clearfix">
                      <div class="infoM">
                        <h5 class="name"><a href="#">路虎 揽胜运动 款式名称 3345</a></h5>
                        <div class="info clearfix">
                          <div class="m">中规/现车</div>
                          <div class="m">黑/白</div>
                        </div>
                      </div>
                      <div class="infoPrice">
                        <p><span class="price"><i class="icon icon_money"></i>37.68万</span><span class="time">16:30</span></p>
                        <p>指导价：39.68万/下2万</p>
                      </div>
                    </div>
                    <div class="remark clearfix">
                      <div class="tt bfL">备注：</div>
                      <div class="info"></div>
                    </div>
                    <div class="btnGroups">
                      <a class="btn btn-default btn-xs" href="#" role="button">编辑</a>
                      <a class="btn btn-default btn-xs" href="#" role="button">上移</a>
                      <a class="btn btn-default btn-xs" href="#" role="button">下移</a>
                      <a class="btn btn-default btn-xs" href="#" role="button">删除</a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="box clearfix">
                      <div class="infoM">
                        <h5 class="name"><a href="#">路虎 揽胜运动 款式名称 3345</a></h5>
                        <div class="info clearfix">
                          <div class="m">中规/现车</div>
                          <div class="m">黑/白</div>
                        </div>
                      </div>
                      <div class="infoPrice">
                        <p><span class="price"><i class="icon icon_money"></i>37.68万</span><span class="time">16:30</span></p>
                        <p>指导价：39.68万/下2万</p>
                      </div>
                    </div>
                    <div class="remark clearfix">
                      <div class="tt bfL">备注：</div>
                      <div class="info"></div>
                    </div>
                    <div class="btnGroups">
                      <a class="btn btn-default btn-xs" href="#" role="button">编辑</a>
                      <a class="btn btn-default btn-xs" href="#" role="button">上移</a>
                      <a class="btn btn-default btn-xs" href="#" role="button">下移</a>
                      <a class="btn btn-default btn-xs" href="#" role="button">删除</a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="box clearfix">
                      <div class="infoM">
                        <h5 class="name"><a href="#">路虎 揽胜运动 款式名称 3345</a></h5>
                        <div class="info clearfix">
                          <div class="m">中规/现车</div>
                          <div class="m">黑/白</div>
                        </div>
                      </div>
                      <div class="infoPrice">
                        <p><span class="price"><i class="icon icon_money"></i>37.68万</span><span class="time">16:30</span></p>
                        <p>指导价：39.68万/下2万</p>
                      </div>
                    </div>
                    <div class="remark clearfix">
                      <div class="tt bfL">备注：</div>
                      <div class="info"></div>
                    </div>
                    <div class="btnGroups">
                      <a class="btn btn-default btn-xs" href="#" role="button">编辑</a>
                      <a class="btn btn-default btn-xs" href="#" role="button">上移</a>
                      <a class="btn btn-default btn-xs" href="#" role="button">下移</a>
                      <a class="btn btn-default btn-xs" href="#" role="button">删除</a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="box clearfix">
                      <div class="infoM">
                        <h5 class="name"><a href="#">路虎 揽胜运动 款式名称 3345</a></h5>
                        <div class="info clearfix">
                          <div class="m">中规/现车</div>
                          <div class="m">黑/白</div>
                        </div>
                      </div>
                      <div class="infoPrice">
                        <p><span class="price"><i class="icon icon_money"></i>37.68万</span><span class="time">16:30</span></p>
                        <p>指导价：39.68万/下2万</p>
                      </div>
                    </div>
                    <div class="remark clearfix">
                      <div class="tt bfL">备注：</div>
                      <div class="info"></div>
                    </div>
                    <div class="btnGroups">
                      <a class="btn btn-default btn-xs" href="#" role="button">编辑</a>
                      <a class="btn btn-default btn-xs" href="#" role="button">上移</a>
                      <a class="btn btn-default btn-xs" href="#" role="button">下移</a>
                      <a class="btn btn-default btn-xs" href="#" role="button">删除</a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="box clearfix">
                      <div class="infoM">
                        <h5 class="name"><a href="#">路虎 揽胜运动 款式名称 3345</a></h5>
                        <div class="info clearfix">
                          <div class="m">中规/现车</div>
                          <div class="m">黑/白</div>
                        </div>
                      </div>
                      <div class="infoPrice">
                        <p><span class="price"><i class="icon icon_money"></i>37.68万</span><span class="time">16:30</span></p>
                        <p>指导价：39.68万/下2万</p>
                      </div>
                    </div>
                    <div class="remark clearfix">
                      <div class="tt bfL">备注：</div>
                      <div class="info"></div>
                    </div>
                    <div class="btnGroups">
                      <a class="btn btn-default btn-xs" href="#" role="button">编辑</a>
                      <a class="btn btn-default btn-xs" href="#" role="button">上移</a>
                      <a class="btn btn-default btn-xs" href="#" role="button">下移</a>
                      <a class="btn btn-default btn-xs" href="#" role="button">删除</a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="box clearfix">
                      <div class="infoM">
                        <h5 class="name"><a href="#">路虎 揽胜运动 款式名称 3345</a></h5>
                        <div class="info clearfix">
                          <div class="m">中规/现车</div>
                          <div class="m">黑/白</div>
                        </div>
                      </div>
                      <div class="infoPrice">
                        <p><span class="price"><i class="icon icon_money"></i>37.68万</span><span class="time">16:30</span></p>
                        <p>指导价：39.68万/下2万</p>
                      </div>
                    </div>
                    <div class="remark clearfix">
                      <div class="tt bfL">备注：</div>
                      <div class="info"></div>
                    </div>
                    <div class="btnGroups">
                      <a class="btn btn-default btn-xs" href="#" role="button">编辑</a>
                      <a class="btn btn-default btn-xs" href="#" role="button">上移</a>
                      <a class="btn btn-default btn-xs" href="#" role="button">下移</a>
                      <a class="btn btn-default btn-xs" href="#" role="button">删除</a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="box clearfix">
                      <div class="infoM">
                        <h5 class="name"><a href="#">路虎 揽胜运动 款式名称 3345</a></h5>
                        <div class="info clearfix">
                          <div class="m">中规/现车</div>
                          <div class="m">黑/白</div>
                        </div>
                      </div>
                      <div class="infoPrice">
                        <p><span class="price"><i class="icon icon_money"></i>37.68万</span><span class="time">16:30</span></p>
                        <p>指导价：39.68万/下2万</p>
                      </div>
                    </div>
                    <div class="remark clearfix">
                      <div class="tt bfL">备注：</div>
                      <div class="info"></div>
                    </div>
                    <div class="btnGroups">
                      <a class="btn btn-default btn-xs" href="#" role="button">编辑</a>
                      <a class="btn btn-default btn-xs" href="#" role="button">上移</a>
                      <a class="btn btn-default btn-xs" href="#" role="button">下移</a>
                      <a class="btn btn-default btn-xs" href="#" role="button">删除</a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="box clearfix">
                      <div class="infoM">
                        <h5 class="name"><a href="#">路虎 揽胜运动 款式名称 3345</a></h5>
                        <div class="info clearfix">
                          <div class="m">中规/现车</div>
                          <div class="m">黑/白</div>
                        </div>
                      </div>
                      <div class="infoPrice">
                        <p><span class="price"><i class="icon icon_money"></i>37.68万</span><span class="time">16:30</span></p>
                        <p>指导价：39.68万/下2万</p>
                      </div>
                    </div>
                    <div class="remark clearfix">
                      <div class="tt bfL">备注：</div>
                      <div class="info"></div>
                    </div>
                    <div class="btnGroups">
                      <a class="btn btn-default btn-xs" href="#" role="button">编辑</a>
                      <a class="btn btn-default btn-xs" href="#" role="button">上移</a>
                      <a class="btn btn-default btn-xs" href="#" role="button">下移</a>
                      <a class="btn btn-default btn-xs" href="#" role="button">删除</a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="box clearfix">
                      <div class="infoM">
                        <h5 class="name"><a href="#">路虎 揽胜运动 款式名称 3345</a></h5>
                        <div class="info clearfix">
                          <div class="m">中规/现车</div>
                          <div class="m">黑/白</div>
                        </div>
                      </div>
                      <div class="infoPrice">
                        <p><span class="price"><i class="icon icon_money"></i>37.68万</span><span class="time">16:30</span></p>
                        <p>指导价：39.68万/下2万</p>
                      </div>
                    </div>
                    <div class="remark clearfix">
                      <div class="tt bfL">备注：</div>
                      <div class="info"></div>
                    </div>
                    <div class="btnGroups">
                      <a class="btn btn-default btn-xs" href="#" role="button">编辑</a>
                      <a class="btn btn-default btn-xs" href="#" role="button">上移</a>
                      <a class="btn btn-default btn-xs" href="#" role="button">下移</a>
                      <a class="btn btn-default btn-xs" href="#" role="button">删除</a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <nav>
            <ul class="pagination pageList">
              <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
              </li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">…</a></li>
              <li><a href="#">10</a></li>
              <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="col-md-3 mainRight">
      <div class="panel panel-default contentBox bgf8">
        <div class="panel-body indexUser">
          <div class="userInfo clearfix">
            <div class="photo bfL"><a href="#"><%= image_tag("index/user_photo.jpg", alt: "")%></a></div>
            <div class="name">
              <h5><a href="#">李木子(上海)</a></h5>
              <div class="clearfix"><span class="tag"><%= image_tag("user/typeIcon_p.png", alt: "", width: "100%")%></span></div>
            </div>
          </div>
          <ul class="row userData">
            <li class="col-md-4">
              <p class="data"><a href="#">8888</a></p>
              <p class="tt">我的寻车</p>
            </li>
            <li class="col-md-4">
              <p class="data"><a href="#">8888</a></p>
              <p class="tt">我的报价</p>
            </li>
            <li class="col-md-4 last">
              <p class="data"><a href="#">8888</a></p>
              <p class="tt">我的关注</p>
            </li>
          </ul>
          <div class="userSubBtn">
            <button type="button" class="btn btn-default btn-block red"><span class="icon icon_search"></span>发布寻车</button>
            <button type="button" class="btn btn-default btn-block blue"><span class="icon icon_source"></span>发布资源</button>
          </div>
          <div class="userArr"><span class="icon icon_user"></span></div>
        </div>
      </div>
      <div class="panel panel-default contentBox">
        <div class="panel-heading lineTitle">
          <h3 class="panel-title">一键找车</h3>
        </div>
        <div class="panel-body">
          <form class="searchBox">
            <input type="text" class="form-control input pr50" placeholder="品牌 车型 款式 指导价 …" />
            <input type="submit" class="btn btn-primary subBtn" value="搜索" />
          </form>
        </div>
      </div>
      <div class="panel panel-default contentBox">
        <div class="panel-heading lineTitle">
          <h3 class="panel-title">品牌筛选</h3>
        </div>
        <div class="panel-body brandSelect">
          <div class="dropdown w100p">
            <select name="" class="form-control">
              <option value="品牌1">品牌1</option>
              <option value="品牌2">品牌2</option>
              <option value="品牌3">品牌3</option>
            </select>
          </div>
          <input type="submit" class="btn btn-primary subBtn" value="提交">
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_tag do %>
$(".mySourceTab .table").find("tr").hover(function(){
  $(this).find(".btnGroups").show();
},function(){
  $(this).find(".btnGroups").hide();
});
<% end -%>
