<div class="form-group form-inline col-md-6">
    <label class="radio selectTag disabled">
      <input type="radio" name="post[discount_way]" id="methodRadios1" value="1" disabled><span>优惠点数</span>
    </label>
    <label class="selectInput">
      <input type="text" class="form-control input-sm" id="methodVal1" placeholder="" name="post[discount_content]" disabled>
      <div class="units">点数</div>
    </label>
  </div>
  <div class="form-group form-inline col-md-6">
    <label class="radio selectTag disabled">
      <input type="radio" name="post[discount_way]" id="methodRadios2" value="2" disabled><span>优惠金额</span>
    </label>
    <label class="selectInput">
      <input type="text" class="form-control input-sm" id="methodVal2" placeholder="" name="post[discount_content]" disabled>
      <div class="units">万元</div>
    </label>
  </div>
  <div class="form-group form-inline col-md-6">
    <label class="radio selectTag disabled">
      <input type="radio" name="post[discount_way]" id="methodRadios3" value="3" disabled><span>加价金额</span>
    </label>
    <label class="selectInput">
      <input type="text" class="form-control input-sm" id="methodVal3" placeholder="" name="post[discount_content]" disabled>
      <div class="units">万元</div>
    </label>
  </div>
  <div class="form-group form-inline col-md-6">
    <%- if @post && @post.discount_way == 4 %>
      <label class="radio selectTag active">
        <input type="radio" name="post[discount_way]" id="methodRadios4" value="4" checked='checked'><span>直接报价</span>
      </label>
    <% else %>
      <label class="radio selectTag">
        <input type="radio" name="post[discount_way]" id="methodRadios4" value="4"><span>直接报价</span>
      </label>
    <% end %>
    <label class="selectInput">
      <%- if @post.new_record? %>
        <input type="text" class="form-control input-sm" id="methodVal4" placeholder="" name="post[discount_content]" autocomplete="off">
      <% else %>
        <input type="text" class="form-control input-sm" id="methodVal4" placeholder="" name="post[discount_content]" autocomplete="off", value=<%= @post.discount_content.to_f %>>
      <% end %>
      <div class="units">万元</div>
    </label>
  </div>
  <div class="form-group form-inline col-md-6">
    <%- if @post && @post.discount_way == 5 %>
      <label class="radio selectTag active">
        <input type="radio" name="post[discount_way]" id="methodRadios5" value="5" checked='checked'><span>电议</span>
      </label>
    <% else %>
    <label class="radio selectTag">
        <input type="radio" name="post[discount_way]" id="methodRadios5" value="5"><span>电议</span>
      </label>
    <% end %>
  </div>
