<li>
  <div class="photo bfL"><a href="#"><%= image_tag(comment.user.avatar, alt: "", size: '45x45')%></a></div>
  <div class="detail">
    <div class="info"><span class="name"><a href="#"><%= comment.user_name%>：</a></span><%= comment.content %></div>
    <div class="time"><span class="icon icon-message"></span><%= human_time(comment.updated_at) %></div>
  </div>
</li>