<!--footer id="foot">
	<div class="container copyright">
		<p>北京市公安局海淀分局网监中心备案编号：<a href="#" target="_blank">1101081535</a> | 电信与信息服务业务经营许可证：京ICP证070240号 | 中国互联网协会会员单位</p>
		<p>京ICP备09113703号-1 | 信息网络传播视听节目许可证0110553号 | 广播电视节目制作经营许可证（京）字第1125号 | 测绘资质证</p>
		<p>网站违法和不良信息举报电话：(86)-010-5985 7000</p>
		<p>© 2004-2015 <a href="http://www.autohome.com.cn/" target="_blank">www.autohome.com.cn</a> All Rights Reserved. 汽车之家 版权所有</p>
	</div>
</footer-->
<footer id="foot">
  <div class="container copyright">
    <p>沪ICP备<a href="http://miitbeian.gov.cn/" target="_blank">14044072号-1</a></p>
  </div>
</footer>
