<footer id="foot">
  <div class="container copyright">
    <p>版权所有©牛牛汽车 | <a href="http://niuniuqiche.com/" target="_blank">niuniuqiche.com</a> | 您的汽车生意圈！</p>
    <p>沪ICP备<a href="http://miitbeian.gov.cn/" target="_blank">14044072号-1</a></p>
  </div>
</footer>
