<div class="panel panel-default contentBox">
  <div class="panel-heading lineTitle">
    <h3 class="panel-title">您关注的<a href="#" class="link">3</a>位好友也关注了他</h3>
  </div>
  <div class="panel-body">
    <ul class="followList">
      <li class="clearfix first">
        <div class="photo bfL"><a href="#"><%= image_tag("_temp/followPhoto.jpg", alt: "")%></a></div>
        <div class="detail">
          <h5 class="name"><a href="#">罗塞（上海）</a></h5>
          <p class="tel">手机：13456789087</p>
        </div>
      </li>
      <li class="clearfix">
        <div class="photo bfL"><a href="#"><%= image_tag("_temp/followPhoto.jpg", alt: "")%></a></div>
        <div class="detail">
          <h5 class="name"><a href="#">罗塞（上海）</a></h5>
          <p class="tel">手机：13456789087</p>
        </div>
      </li>
      <li class="clearfix">
        <div class="photo bfL"><a href="#"><%= image_tag("_temp/followPhoto.jpg", alt: "")%></a></div>
        <div class="detail">
          <h5 class="name"><a href="#">罗塞（上海）</a></h5>
          <p class="tel">手机：13456789087</p>
        </div>
      </li>
    </ul>
  </div>
</div>
