<div class="panel panel-default contentBox">
  <div class="panel-heading lineTitle">
    <h3 class="panel-title">他的资源<a href="<%= user_list_posts_path(user_id: @someone.id, _type: 0) %>" class="more bfR">更多 >></a></h3>
  </div>
  <div class="panel-body">
    <ul class="carSourceHis">
      <li class="first">
        <h5 class="name"><a href="#">路虎揽胜运动 3345</a></h5>
        <div class="info clearfix"><span class="price bfL">37.68万</span><span class="bfR">中规/现车</span></div>
        <div class="info clearfix"><span class="bfL">黑/白</span><span class="bfR">16:30</span></div>
      </li>
      <li>
        <h5 class="name"><a href="#">路虎揽胜运动 3345</a></h5>
        <div class="info clearfix"><span class="price bfL">37.68万</span><span class="bfR">中规/现车</span></div>
        <div class="info clearfix"><span class="bfL">黑/白</span><span class="bfR">16:30</span></div>
      </li>
      <li>
        <h5 class="name"><a href="#">路虎揽胜运动 3345</a></h5>
        <div class="info clearfix"><span class="price bfL">37.68万</span><span class="bfR">中规/现车</span></div>
        <div class="info clearfix"><span class="bfL">黑/白</span><span class="bfR">16:30</span></div>
      </li>
    </ul>
  </div>
</div>
