<div class="panel panel-default contentBox">
  <div class="panel-heading lineTitle">
    <h3 class="panel-title">他的寻车<a href="<%= user_list_posts_path(user_id: @someone.id, _type: 1) %>" class="more bfR">更多 >></a></h3>
  </div>
  <div class="panel-body">
    <ul class="carSourceHis">

      <li class="first">
        <h5 class="name"><a href="#">寻中规路虎揽胜运动 3345</a></h5>
        <div class="info clearfix"><span class="bfL mr20">卖河南</span><span class="bfL">黑/白</span></div>
        <div class="info clearfix"><span class="bfL">李木子(上海)</span><span class="bfR">16:30</span></div>
        <div class="seal seal_done_sm"></div>
      </li>
      <li>
        <h5 class="name"><a href="#">寻中规路虎揽胜运动 3345</a></h5>
        <div class="info clearfix"><span class="bfL mr20">卖河南</span><span class="bfL">黑/白</span></div>
        <div class="info clearfix"><span class="bfL">李木子(上海)</span><span class="bfR">16:30</span></div>
      </li>
      <li>
        <h5 class="name"><a href="#">寻中规路虎揽胜运动 3345</a></h5>
        <div class="info clearfix"><span class="bfL mr20">卖河南</span><span class="bfL">黑/白</span></div>
        <div class="info clearfix"><span class="bfL">李木子(上海)</span><span class="bfR">16:30</span></div>
      </li>
    </ul>
  </div>
</div>
