<div class="panel panel-default contentBox bgf9">
	<div class="panel-heading lineTitle">
		<h3 class="panel-title">官方APP</h3>
	</div>
	<div class="panel-body indexAppDL">
		<div class="appQR"><%= image_tag("index/app_qr.jpg", alt: "", width: "100%")%></div>
		<ul class="row appLink">
			<li class="col-md-6">
				<a class="btn btn-default p0" href="https://appsto.re/cn/fxXB5.i" role="button" target="_blank"><span class="icon icon-apple"></span>iPhone</a>
			</li>
			<li class="col-md-6">
				<a class="btn btn-default p0" href="http://shouji.baidu.com/soft/item?docid=7726633&from=landing&f=search_app_%E7%89%9B%E7%89%9B%E6%B1%BD%E8%BD%A6%40list_1_image%401%40search_sug_app_btn_search" role="button" target="_blank"><span class="icon icon-android"></span>Android</a>
			</li>
		</ul>
		<!--div class="tel clearfix">
			<div class="icon bfL"><%= image_tag("icon_tel.png", alt: "")%></div>
			<div class="info">
				<p><%= t('server_photo') %></p>
				<p><strong>021-54843638</strong></p>
			</div>
		</div-->
	</div>
</div>
