<div class="container accountsSetting">
  <div class="row">
    <%= render partial: 'left_bar' %>
    <div class="col-md-10 accountsMain">
      <h5 class="title">您的专属客服经理</h5>
      <div class="row aboutUsMain">
        <div class="col-md-2 photoBox">
          <div class="photo"><%= image_tag("_temp/userPhoto_s.jpg", alt: "")%></div>
          <div class="name"><span>某某</span>经理</div>
          <div class="clearfix"><span class="tag"><%= image_tag("user/typeIcon_p.png", alt: "", width: "100%")%></span></div>
        </div>
        <div class="col-md-10 infoBox">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>联系电话：</td>
              <td>公司地址：</td>
            </tr>
            <tr>
              <td>微信：</td>
              <td>公司电话：</td>
            </tr>
            <tr>
              <td>QQ：</td>
              <td>公司网址：</td>
            </tr>
            <tr>
              <td>备注：</td>
              <td>公司邮箱：</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row aboutUsForm">
        <div class="col-md-2">
          <label for="" class="control-label">意见反馈：</label>
        </div>
        <div class="col-md-10">
          <form>
            <textarea class="form-control" rows="4"></textarea>
            <div class="txtC mt10">
              <input type="submit" class="btn btn-default orange" value="发送" />
              <input type="reset" class="btn btn-default" value="放弃" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
