<div class="container accountsSetting">
  <div class="row">
    <div class="col-md-2 accountsMenu">
      <div class="box"></div>
    </div>
    <div class="col-md-10 accountsMain">
      <div class="box"></div>
    </div>
  </div>
</div>
