<div class="container accountsSetting">
  <div class="row">
    <div class="col-md-2 accountsMenu">
      <h5 class="title"><span class="tt">帐号管理</span></h5>
      <ul class="list">
        <li class="active"><a href="#"><span class="icon icon-userInfo"></span>个人信息</a></li>
        <li><a href="#"><span class="icon icon-level"></span>认证等级</a></li>
        <li><a href="#"><span class="icon icon-pw"></span>修改密码</a></li>
        <li><a href="#"><span class="icon icon-logo"></span>关于我们</a></li>
        <li><a href="#"><span class="icon icon-quit"></span>安全退出</a></li>
      </ul>
    </div>
    <div class="col-md-10 accountsMain">
      <h5 class="title">个人信息设置</h5>
      <div class="row">
        <div class="col-md-3 photoArea">
          <div class="photo"><%= image_tag("_temp/userPhoto_b.jpg", alt: "")%></div>
          <div class="tips">你可以选择png/jpg图片(180*180)作为头像</div>
          <div class="txtC"><a href="#" class="btn btn-default black">修改头像</a></div>
        </div>
        <div class="col-md-9 formArea">
          <form>
            <div class="box">
              <div class="form-group clearfix">
                <label for="" class="col-sm-2 control-label">姓　　名：</label>
                <div class="col-sm-10 prl0">
                  <input type="text" class="form-control" id="" placeholder="">
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="" class="col-sm-2 control-label">注&nbsp;&nbsp;册&nbsp;&nbsp;地：</label>
                <div class="col-sm-10 prl0">
                  <input type="text" class="form-control" id="" placeholder="">
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="" class="col-sm-2 control-label">自我评价：</label>
                <div class="col-sm-10 prl0">
                  <input type="text" class="form-control" id="" placeholder="">
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="" class="col-sm-2 control-label">认证等级：</label>
                <div class="col-sm-10 prl0">
                  <div class="level vip2 bfL"></div>
                  <a href="#" class="btn btn-default black bfR"><span class="icon icon-upgrade"></span>升级</a>
                </div>
              </div>
            </div>
            <div class="box last">
              <div class="form-group clearfix">
                <label for="" class="col-sm-2 control-label">公司名称：</label>
                <div class="col-sm-10 prl0">
                  <input type="text" class="form-control" id="" placeholder="">
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="" class="col-sm-2 control-label">公司地址：</label>
                <div class="col-sm-10 prl0">
                  <input type="text" class="form-control" id="" placeholder="">
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="" class="col-sm-2 control-label">财务抬头：</label>
                <div class="col-sm-10 prl0">
                  <input type="text" class="form-control" id="" placeholder="">
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="" class="col-sm-2 control-label">联系电话：</label>
                <div class="col-sm-10 prl0">
                  <input type="text" class="form-control" id="" placeholder="">
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="" class="col-sm-2 control-label">微&nbsp;&nbsp;信&nbsp;&nbsp;号：</label>
                <div class="col-sm-10 prl0">
                  <input type="text" class="form-control" id="" placeholder="">
                </div>
              </div>
            </div>
            <div class="txtC">
              <input type="submit" class="btn btn-default orange" value="保存" />
              <input type="reset" class="btn btn-default" value="放弃" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
