<div class="container userOverview">
  <div class="userInfo"></div>
  <div class="userDataTag">
    <ul class="list clearfix">
      <li>
        <a href="#">
          <p class="num"></p>
          <p></p>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9 mainBox">
      <div class="panel panel-default contentBox">
        <ul role="tablist" class="nav nav-tabs carInfoTabs sm">
          <li role="presentation" class="active"><a href="#tabpanel1">未成交</a></li>
          <li role="presentation"><a href="#tabpanel2">已成交</a></li>
        </ul>
        <div class="panel-body">
          <div role="tabpanel" class="tab-pane active" id="tabpanel1">
            <div class="sourceTab">
              <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped">
                <thead>
                  <tr>
                    <th width="40%">品牌/车型</th>
                    <th width="16%">报价人数(人)</th>
                    <th width="14%">上牌地点</th>
                    <th width="14%">外观/内饰</th>
                    <th width="10%">发布时间</th>
                    <th width="6%">操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                    <td><span class="num">3</span></td>
                    <td>河南</td>
                    <td>黑/白</td>
                    <td>16:30</td>
                    <td><a href="javascript:;" class="del">删除</a></td>
                  </tr>
                  <tr>
                    <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                    <td><span class="num">3</span></td>
                    <td>河南</td>
                    <td>黑/白</td>
                    <td>16:30</td>
                    <td><a href="javascript:;" class="del">删除</a></td>
                  </tr>
                  <tr>
                    <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                    <td><span class="num">3</span></td>
                    <td>河南</td>
                    <td>黑/白</td>
                    <td>16:30</td>
                    <td><a href="javascript:;" class="del">删除</a></td>
                  </tr>
                  <tr>
                    <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                    <td><span class="num">3</span></td>
                    <td>河南</td>
                    <td>黑/白</td>
                    <td>16:30</td>
                    <td><a href="javascript:;" class="del">删除</a></td>
                  </tr>
                  <tr>
                    <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                    <td><span class="num">3</span></td>
                    <td>河南</td>
                    <td>黑/白</td>
                    <td>16:30</td>
                    <td><a href="javascript:;" class="del">删除</a></td>
                  </tr>
                  <tr>
                    <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                    <td><span class="num">3</span></td>
                    <td>河南</td>
                    <td>黑/白</td>
                    <td>16:30</td>
                    <td><a href="javascript:;" class="del">删除</a></td>
                  </tr>
                  <tr>
                    <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                    <td><span class="num">3</span></td>
                    <td>河南</td>
                    <td>黑/白</td>
                    <td>16:30</td>
                    <td><a href="javascript:;" class="del">删除</a></td>
                  </tr>
                  <tr>
                    <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                    <td><span class="num">3</span></td>
                    <td>河南</td>
                    <td>黑/白</td>
                    <td>16:30</td>
                    <td><a href="javascript:;" class="del">删除</a></td>
                  </tr>
                  <tr>
                    <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                    <td><span class="num">3</span></td>
                    <td>河南</td>
                    <td>黑/白</td>
                    <td>16:30</td>
                    <td><a href="javascript:;" class="del">删除</a></td>
                  </tr>
                  <tr>
                    <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                    <td><span class="num">3</span></td>
                    <td>河南</td>
                    <td>黑/白</td>
                    <td>16:30</td>
                    <td><a href="javascript:;" class="del">删除</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <nav>
              <ul class="pagination pageList">
                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">…</a></li>
                <li><a href="#">10</a></li>
                <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                </li>
              </ul>
            </nav>
          </div>
          <div role="tabpanel" class="tab-pane" id="tabpanel2">
            暂无数据
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mainRight">
      <div class="panel panel-default contentBox">
        <div class="panel-heading lineTitle">
          <h3 class="panel-title">一键找车</h3>
        </div>
        <div class="panel-body">
          <form class="carSearch">
            <input type="text" class="form-control input pr50" placeholder="品牌 车型 款式 指导价 …" />
            <input type="submit" class="btn btn-primary subBtn" value="搜索" />
          </form>
        </div>
      </div>
      <div class="panel panel-default contentBox">
        <div class="panel-heading lineTitle">
          <h3 class="panel-title">品牌筛选</h3>
        </div>
        <div class="panel-body brandSelect">
          <div class="dropdown w100p">
            <select name="" class="form-control">
              <option value="品牌1">品牌1</option>
              <option value="品牌2">品牌2</option>
              <option value="品牌3">品牌3</option>
            </select>
          </div>
          <input type="submit" class="btn btn-primary subBtn" value="提交">
        </div>
      </div>
    </div>
  </div>
</div>
