<div class="container userOverview">
  <div class="userInfo clearfix">
    <div class="photo bfL"><%= image_tag("_temp/userPhoto.jpg", alt: "")%></div>
    <div class="detail">
      <div class="clearfix"><span class="name">李木子</span><span class="type"><%= image_tag("user/typeIcon_p.png", alt: "", width: "100%")%></span><a href="#" class="btn btn-default btn-xs"><span class="icon icon-upgrade"></span>升级</a></div>
      <div class="detailTab">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="2">自我评价：</td>
          </tr>
          <tr>
            <td colspan="2">注册地：</td>
          </tr>
          <tr>
            <td colspan="2"><strong class="tip">最近三个月成交3台，累计成交3台</strong></td>
          </tr>
          <tr>
            <td width="250">公司名称：</td>
            <td width="250">职位：</td>
          </tr>
          <tr>
            <td>微信：</td>
            <td>QQ：</td>
          </tr>
          <tr>
            <td colspan="2">联系电话：<span class="tip">66668888</span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="userDataTag">
    <ul class="list clearfix">
      <li>
        <a href="#">
          <p class="num">8888</p>
          <p>我的寻车</p>
        </a>
      </li>
      <li>
        <a href="#">
          <p class="num">8888</p>
          <p>我的报价</p>
        </a>
      </li>
      <li>
        <a href="#">
          <p class="num">8888</p>
          <p>我的关注</p>
        </a>
      </li>
    </ul>
    <div class="link"><a href="#">系统消息</a></div>
  </div>
  <div class="userArr"><span class="icon icon-user"></span></div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9 mainBox">
      <div class="panel panel-default contentBox">
        <div class="panel-heading lineTitle">
          <h3 class="panel-title">系统消息</h3>
        </div>
        <div class="panel-body">
          <ul class="systemMesList">
            <li>
              <div class="info">系统将于周四晚间12点进行维护，请用于周四晚间系统将于周四晚间12点进行维护，请用于周四晚间周四
晚间用于周四晚间系统将于周四晚间12点进行维护，请用于周四晚间周四。</div>
              <div class="clearfix">
                <div class="date bfL">2015.2.26</div>
                <a href="#" class="btn btn-link del bfR"><span class="icon icon-del"></span>删除</a>
              </div>
            </li>
            <li>
              <div class="info">系统将于周四晚间12点进行维护，请用于周四晚间系统将于周四晚间12点进行维护，请用于周四晚间周四
晚间用于周四晚间系统将于周四晚间12点进行维护，请用于周四晚间周四。</div>
              <div class="clearfix">
                <div class="date bfL">2015.2.26</div>
                <a href="#" class="btn btn-link del bfR"><span class="icon icon-del"></span>删除</a>
              </div>
            </li>
            <li>
              <div class="info">系统将于周四晚间12点进行维护，请用于周四晚间系统将于周四晚间12点进行维护，请用于周四晚间周四
晚间用于周四晚间系统将于周四晚间12点进行维护，请用于周四晚间周四。</div>
              <div class="clearfix">
                <div class="date bfL">2015.2.26</div>
                <a href="#" class="btn btn-link del bfR"><span class="icon icon-del"></span>删除</a>
              </div>
            </li>
            <li>
              <div class="info">系统将于周四晚间12点进行维护，请用于周四晚间系统将于周四晚间12点进行维护，请用于周四晚间周四
晚间用于周四晚间系统将于周四晚间12点进行维护，请用于周四晚间周四。</div>
              <div class="clearfix">
                <div class="date bfL">2015.2.26</div>
                <a href="#" class="btn btn-link del bfR"><span class="icon icon-del"></span>删除</a>
              </div>
            </li>
          </ul>
          <nav>
            <ul class="pagination pageList">
              <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
              </li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">…</a></li>
              <li><a href="#">10</a></li>
              <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="col-md-3 mainRight">
      <div class="panel panel-default contentBox">
        <div class="panel-heading lineTitle">
          <h3 class="panel-title">一键找车</h3>
        </div>
        <div class="panel-body">
          <form class="searchBox">
            <input type="text" class="form-control input pr50" placeholder="品牌 车型 款式 指导价 …" />
            <input type="submit" class="btn btn-primary subBtn" value="搜索" />
          </form>
        </div>
      </div>
      <div class="panel panel-default contentBox">
        <div class="panel-heading lineTitle">
          <h3 class="panel-title">品牌筛选</h3>
        </div>
        <div class="panel-body brandSelect">
          <div class="dropdown w100p">
            <select name="" class="form-control">
              <option value="品牌1">品牌1</option>
              <option value="品牌2">品牌2</option>
              <option value="品牌3">品牌3</option>
            </select>
          </div>
          <input type="submit" class="btn btn-primary subBtn" value="提交">
        </div>
      </div>
    </div>
  </div>
</div>
