.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-9
    %h2 新建车型

.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-content#form_select
          = render 'cm_form'
