<div class="panel panel-default contentBox">
	<div class="panel-heading lineTitle">
		<h3 class="panel-title"><%= t('new_resources') %></h3>
	</div>
	<div class="panel-body">
		<div class="newCarSelect">
			<div class="btn-group mr20">
				<button type="button" class="btn btn-default">公司</button>
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li class="divider"></li>
					<li><a href="#">Separated link</a></li>
				</ul>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-default">品牌</button>
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li class="divider"></li>
					<li><a href="#">Separated link</a></li>
				</ul>
			</div>
		</div>
		<div class="indexListTab">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped">
				<thead>
					<tr>
						<th width="30%">品牌/车型</th>
						<th width="12%">报价(万元)</th>
						<th width="13%">状态</th>
						<th width="20%">发布人</th>
						<th width="15%">资源表</th>
						<th width="10%">发布时间</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>路虎揽胜运动 3345</td>
						<td><span class="price">30.00</span></td>
						<td>中规现车</td>
						<td>上海宝钢公司</td>
						<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
						<td>16:30</td>
					</tr>
					<tr>
						<td>路虎揽胜运动 3345</td>
						<td><span class="price">30.00</span></td>
						<td>中规现车</td>
						<td>上海宝钢公司</td>
						<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
						<td>16:30</td>
					</tr>
					<tr>
						<td>路虎揽胜运动 3345</td>
						<td><span class="price">30.00</span></td>
						<td>中规现车</td>
						<td>上海宝钢公司</td>
						<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
						<td>16:30</td>
					</tr>
					<tr>
						<td>路虎揽胜运动 3345</td>
						<td><span class="price">30.00</span></td>
						<td>中规现车</td>
						<td>上海宝钢公司</td>
						<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
						<td>16:30</td>
					</tr>
					<tr>
						<td>路虎揽胜运动 3345</td>
						<td><span class="price">30.00</span></td>
						<td>中规现车</td>
						<td>上海宝钢公司</td>
						<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
						<td>16:30</td>
					</tr>
					<tr>
						<td>路虎揽胜运动 3345</td>
						<td><span class="price">30.00</span></td>
						<td>中规现车</td>
						<td>上海宝钢公司</td>
						<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
						<td>16:30</td>
					</tr>
					<tr>
						<td>路虎揽胜运动 3345</td>
						<td><span class="price">30.00</span></td>
						<td>中规现车</td>
						<td>上海宝钢公司</td>
						<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
						<td>16:30</td>
					</tr>
					<tr>
						<td>路虎揽胜运动 3345</td>
						<td><span class="price">30.00</span></td>
						<td>中规现车</td>
						<td>上海宝钢公司</td>
						<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
						<td>16:30</td>
					</tr>
					<tr>
						<td>路虎揽胜运动 3345</td>
						<td><span class="price">30.00</span></td>
						<td>中规现车</td>
						<td>上海宝钢公司</td>
						<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
						<td>16:30</td>
					</tr>
					<tr>
						<td>路虎揽胜运动 3345</td>
						<td><span class="price">30.00</span></td>
						<td>中规现车</td>
						<td>上海宝钢公司</td>
						<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
						<td>16:30</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="moreLink text-right"><a href="#">更多 >></a></div>
	</div>
</div>
