	<div class="panel panel-default contentBox">
		<ul class="nav nav-tabs carInfoTabs">
			<li role="presentation" class="active"><a href="#"><%= t('resources_list') %></a></li>
			<li role="presentation"><a href="#">公司</a></li>
			<li role="presentation"><a href="#">个人</a></li>
		</ul>
		<div class="panel-body">
			<div class="indexListTab">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<thead>
						<tr>
							<th width="30%">发布人</th>
							<th width="10%">注册地</th>
							<th width="30%">涉及品牌</th>
							<th width="20%">资源表</th>
							<th width="10%">发布时间</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>上海宝钢公司</td>
							<td>上海</td>
							<td>宝马 奔驰 路虎 福特</td>
							<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
							<td>16:30</td>
						</tr>
						<tr>
							<td>上海宝钢公司</td>
							<td>上海</td>
							<td>宝马 奔驰 路虎 福特</td>
							<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
							<td>16:30</td>
						</tr>
						<tr>
							<td>上海宝钢公司</td>
							<td>上海</td>
							<td>宝马 奔驰 路虎 福特</td>
							<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
							<td>16:30</td>
						</tr>
						<tr>
							<td>上海宝钢公司</td>
							<td>上海</td>
							<td>宝马 奔驰 路虎 福特</td>
							<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
							<td>16:30</td>
						</tr>
						<tr>
							<td>上海宝钢公司</td>
							<td>上海</td>
							<td>宝马 奔驰 路虎 福特</td>
							<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
							<td>16:30</td>
						</tr>
						<tr>
							<td>上海宝钢公司</td>
							<td>上海</td>
							<td>宝马 奔驰 路虎 福特</td>
							<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
							<td>16:30</td>
						</tr>
						<tr>
							<td>上海宝钢公司</td>
							<td>上海</td>
							<td>宝马 奔驰 路虎 福特</td>
							<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
							<td>16:30</td>
						</tr>
						<tr>
							<td>上海宝钢公司</td>
							<td>上海</td>
							<td>宝马 奔驰 路虎 福特</td>
							<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
							<td>16:30</td>
						</tr>
						<tr>
							<td>上海宝钢公司</td>
							<td>上海</td>
							<td>宝马 奔驰 路虎 福特</td>
							<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
							<td>16:30</td>
						</tr>
						<tr>
							<td>上海宝钢公司</td>
							<td>上海</td>
							<td>宝马 奔驰 路虎 福特</td>
							<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
							<td>16:30</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="moreLink text-right"><a href="#">更多 >></a></div>
		</div>
	</div>
</div>