<div role="tabpanel" class="panel panel-default contentBox">
	<ul role="tablist" class="nav nav-tabs carInfoTabs">
		<li role="presentation" class="active"><a href="#indexSTab"><%= t('resources_list') %></a></li>
		<li role="presentation"><a href="#indexSTab_c">公司</a></li>
		<li role="presentation"><a href="#indexSTab_p">个人</a></li>
	</ul>
	<div class="panel-body">
		<div role="tabpanel" class="tab-pane sourceTab active" id="indexSTab">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped">
				<thead>
					<tr>
						<th width="30%">发布人</th>
						<th width="10%">注册地</th>
						<th width="30%">涉及品牌</th>
						<th width="20%">资源表</th>
						<th width="10%">发布时间</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>上海宝钢公司</td>
						<td>上海</td>
						<td>宝马 奔驰 路虎 福特</td>
						<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
						<td>16:30</td>
					</tr>
					<tr>
						<td>上海宝钢公司</td>
						<td>上海</td>
						<td>宝马 奔驰 路虎 福特</td>
						<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
						<td>16:30</td>
					</tr>
					<tr>
						<td>上海宝钢公司</td>
						<td>上海</td>
						<td>宝马 奔驰 路虎 福特</td>
						<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
						<td>16:30</td>
					</tr>
					<tr>
						<td>上海宝钢公司</td>
						<td>上海</td>
						<td>宝马 奔驰 路虎 福特</td>
						<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
						<td>16:30</td>
					</tr>
					<tr>
						<td>上海宝钢公司</td>
						<td>上海</td>
						<td>宝马 奔驰 路虎 福特</td>
						<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
						<td>16:30</td>
					</tr>
					<tr>
						<td>上海宝钢公司</td>
						<td>上海</td>
						<td>宝马 奔驰 路虎 福特</td>
						<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
						<td>16:30</td>
					</tr>
					<tr>
						<td>上海宝钢公司</td>
						<td>上海</td>
						<td>宝马 奔驰 路虎 福特</td>
						<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
						<td>16:30</td>
					</tr>
					<tr>
						<td>上海宝钢公司</td>
						<td>上海</td>
						<td>宝马 奔驰 路虎 福特</td>
						<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
						<td>16:30</td>
					</tr>
					<tr>
						<td>上海宝钢公司</td>
						<td>上海</td>
						<td>宝马 奔驰 路虎 福特</td>
						<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
						<td>16:30</td>
					</tr>
					<tr>
						<td>上海宝钢公司</td>
						<td>上海</td>
						<td>宝马 奔驰 路虎 福特</td>
						<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
						<td>16:30</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div role="tabpanel" class="tab-pane indexListTab sourceTab" id="indexSTab_c">
			暂无数据
		</div>
		<div role="tabpanel" class="tab-pane indexListTab sourceTab" id="indexSTab_p">
			暂无数据
		</div>
		<div class="moreLink text-right"><a href="#">更多 >></a></div>
	</div>
</div>
