<div role="tabpanel" class="panel panel-default contentBox">
	<div class="panel-heading lineTitle">
		<h3 class="panel-title"><%= t('resources_list') %></h3>
	</div>
	<div class="panel-body">
		<div class="sourceTab">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped">
				<thead>
					<tr>
						<th width="30%">发布人</th>
						<th width="10%">注册地</th>
						<th width="30%">涉及品牌</th>
						<th width="20%">资源表</th>
						<th width="10%">发布时间</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="#" class="name">上海宝钢公司</a></td>
						<td>上海</td>
						<td>宝马 奔驰 路虎 福特</td>
						<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
						<td>16:30</td>
					</tr>
					<tr>
						<td><a href="#" class="name">上海宝钢公司</a></td>
						<td>上海</td>
						<td>宝马 奔驰 路虎 福特</td>
						<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
						<td>16:30</td>
					</tr>
					<tr>
						<td><a href="#" class="name">上海宝钢公司</a></td>
						<td>上海</td>
						<td>宝马 奔驰 路虎 福特</td>
						<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
						<td>16:30</td>
					</tr>
					<tr>
						<td><a href="#" class="name">上海宝钢公司</a></td>
						<td>上海</td>
						<td>宝马 奔驰 路虎 福特</td>
						<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
						<td>16:30</td>
					</tr>
					<tr>
						<td><a href="#" class="name">上海宝钢公司</a></td>
						<td>上海</td>
						<td>宝马 奔驰 路虎 福特</td>
						<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
						<td>16:30</td>
					</tr>
					<tr>
						<td><a href="#" class="name">上海宝钢公司</a></td>
						<td>上海</td>
						<td>宝马 奔驰 路虎 福特</td>
						<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
						<td>16:30</td>
					</tr>
					<tr>
						<td><a href="#" class="name">上海宝钢公司</a></td>
						<td>上海</td>
						<td>宝马 奔驰 路虎 福特</td>
						<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
						<td>16:30</td>
					</tr>
					<tr>
						<td><a href="#" class="name">上海宝钢公司</a></td>
						<td>上海</td>
						<td>宝马 奔驰 路虎 福特</td>
						<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
						<td>16:30</td>
					</tr>
					<tr>
						<td><a href="#" class="name">上海宝钢公司</a></td>
						<td>上海</td>
						<td>宝马 奔驰 路虎 福特</td>
						<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
						<td>16:30</td>
					</tr>
					<tr>
						<td><a href="#" class="name">上海宝钢公司</a></td>
						<td>上海</td>
						<td>宝马 奔驰 路虎 福特</td>
						<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
						<td>16:30</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="moreLink text-right"><a href="#">更多 >></a></div>
	</div>
</div>
