<div class="carList clearfix">
  <div class="tt">外观</div>
  <div class="listBox">
    <ul class="list clearfix">
      <li><a href="#">外观</a></li>
      <li><a href="#">外观</a></li>
      <li><a href="#">外观</a></li>
      <li><a href="#">外观</a></li>
    </ul>
  </div>
</div>
<div class="carList clearfix">
  <div class="tt">内饰</div>
  <div class="listBox">
    <ul class="list clearfix">
      <li><a href="#">内饰</a></li>
      <li><a href="#">内饰</a></li>
      <li><a href="#">内饰</a></li>
      <li><a href="#">内饰</a></li>
    </ul>
  </div>
</div>
<div class="carList clearfix">
  <div class="tt">车况</div>
  <div class="listBox">
    <ul class="list clearfix">
      <li><a href="#">车况</a></li>
      <li><a href="#">车况</a></li>
      <li><a href="#">车况</a></li>
      <li><a href="#">车况</a></li>
    </ul>
  </div>
</div>
<div class="carList clearfix">
  <div class="tt">地区</div>
  <div class="listBox">
    <ul class="list clearfix">
      <li><a href="#">北京</a></li>
      <li><a href="#">上海</a></li>
      <li><a href="#">广州</a></li>
    </ul>
  </div>
</div>
<div class="carList clearfix">
  <div class="tt"></div>
  <div class="listBox"><input type="submit" class="btn btn-default btn_spacing" value="搜索"></div>
</div>
