<div class="container">
  <ol class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li class="active">寻车信息</li>
  </ol>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9 mainBox">
      <div role="tabpanel" class="panel panel-default contentBox">
        <ul role="tablist" class="nav nav-tabs carInfoTabs">
          <li role="presentation" class="active"><a href="#allCarInfo">寻车信息筛选</a></li>
          <li role="presentation"><a href="#carBrand1"><span class="icon bmw"></span>宝马</a></li>
          <li role="presentation"><a href="#carBrand2"><span class="icon bmw"></span>奔驰</a></li>
          <li role="presentation"><a href="#carBrand3"><span class="icon bmw"></span>路虎</a></li>
          <li role="presentation"><a href="#carBrand4"><span class="icon bmw"></span>福特</a></li>
        </ul>
        <div class="panel-body">
          <div role="tabpanel" class="tab-pane active" id="allCarInfo">
            <div class="carList clearfix">
              <div class="tt">规格：</div>
              <ul class="list">
                <li><a href="#">全部</a></li>
                <li><a href="#">国产</a></li>
                <li><a href="#">中规</a></li>
                <li><a href="#">美规</a></li>
                <li><a href="#">中东</a></li>
                <li><a href="#">加版</a></li>
                <li><a href="#">欧版</a></li>
              </ul>
            </div>
            <div class="carList clearfix">
              <div class="tt">品牌：</div>
              <ul class="list">
                <li><a href="#">奔驰</a></li>
                <li><a href="#">奥迪</a></li>
                <li><a href="#">宝马</a></li>
                <li><a href="#">保时捷</a></li>
                <li><a href="#">北京汽车</a></li>
                <li><a href="#">奔腾</a></li>
                <li><a href="#">本田</a></li>
                <li><a href="#">别克</a></li>
                <li><a href="#">宾利</a></li>
                <li><a href="#">长安</a></li>
                <li><a href="#">长城</a></li>
                <li><a href="#">大众</a></li>
                <li><a href="#">道奇</a></li>
                <li><a href="#">东风</a></li>
                <li><a href="#">东风小康</a></li>
                <li><a href="#">丰田</a></li>
                <li><a href="#">福特</a></li>
                <li><a href="#">Jeep吉普</a></li>
                <li><a href="#">捷豹</a></li>
                <li><a href="#">凯迪拉克</a></li>
                <li><a href="#">劳斯莱斯</a></li>
                <li><a href="#">雷克萨斯</a></li>
                <li><a href="#">林肯</a></li>
                <li><a href="#">路虎</a></li>
                <li><a href="#">马自达</a></li>
                <li><a href="#">玛莎拉蒂</a></li>
              </ul>
            </div>
            <div class="carList last clearfix">
              <div class="tt">车型：</div>
              <ul class="list">
                <li><a href="#">宝马X5</a></li>
                <li><a href="#">宝马X6</a></li>
                <li><a href="#">宝马7系</a></li>
                <li><a href="#">宝马3系</a></li>
                <li><a href="#">宝马5系</a></li>
                <li><a href="#">宝马5系GT</a></li>
                <li><a href="#">宝马X3</a></li>
                <li><a href="#">宝马3系(进口)</a></li>
                <li><a href="#">宝马5系(进口)</a></li>
                <li><a href="#">卡宴</a></li>
                <li><a href="#">帕纳美拉Panamera</a></li>
                <li><a href="#">保时捷911</a></li>
                <li><a href="#">Cayman</a></li>
                <li><a href="#">奔驰GL350</a></li>
                <li><a href="#">奔驰S300</a></li>
                <li><a href="#">奔驰GL450</a></li>
                <li><a href="#">奔驰ML350</a></li>
                <li><a href="#">奔驰CLS</a></li>
                <li><a href="#">奔驰C级</a></li>
                <li><a href="#">奔驰E级</a></li>
                <li><a href="#">斯宾特Sprinter</a></li>
                <li><a href="#">揽胜</a></li>
                <li><a href="#">揽胜运动</a></li>
                <li><a href="#">极光</a></li>
                <li><a href="#">神行者2</a></li>
                <li><a href="#">发现4</a></li>
                <li><a href="#">捷豹XJ</a></li>
                <li><a href="#">奥迪A6</a></li>
                <li><a href="#">奥迪A8</a></li>
                <li><a href="#">奥迪Q7</a></li>
              </ul>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="carBrand1">
            暂无数据
          </div>
          <div role="tabpanel" class="tab-pane" id="carBrand2">
            暂无数据
          </div>
          <div role="tabpanel" class="tab-pane" id="carBrand3">
            暂无数据
          </div>
          <div role="tabpanel" class="tab-pane" id="carBrand4">
            暂无数据
          </div>
        </div>
      </div>
      <div class="panel panel-default contentBox">
        <div class="panel-heading lineTitle">
          <h3 class="panel-title">全部寻车（100）</h3>
        </div>
        <div class="panel-body">
          <div class="sourceTab">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped">
              <thead>
                <tr>
                  <th width="40%">品牌/车型</th>
                  <th width="12%">上牌地点</th>
                  <th width="13%">外观/内饰</th>
                  <th width="25%">发布人</th>
                  <th width="10%">发布时间</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                  <td>河南</td>
                  <td>黑/白</td>
                  <td>李木子(上海)icon</td>
                  <td>16:30</td>
                </tr>
                <tr>
                  <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                  <td>河南</td>
                  <td>黑/白</td>
                  <td>李木子(上海)icon</td>
                  <td>16:30</td>
                </tr>
                <tr>
                  <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                  <td>河南</td>
                  <td>黑/白</td>
                  <td>李木子(上海)icon</td>
                  <td>16:30</td>
                </tr>
                <tr>
                  <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                  <td>河南</td>
                  <td>黑/白</td>
                  <td>李木子(上海)icon</td>
                  <td>16:30</td>
                </tr>
                <tr>
                  <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                  <td>河南</td>
                  <td>黑/白</td>
                  <td>李木子(上海)icon</td>
                  <td>16:30</td>
                </tr>
                <tr>
                  <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                  <td>河南</td>
                  <td>黑/白</td>
                  <td>李木子(上海)icon</td>
                  <td>16:30</td>
                </tr>
                <tr>
                  <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                  <td>河南</td>
                  <td>黑/白</td>
                  <td>李木子(上海)icon</td>
                  <td>16:30</td>
                </tr>
                <tr>
                  <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                  <td>河南</td>
                  <td>黑/白</td>
                  <td>李木子(上海)icon</td>
                  <td>16:30</td>
                </tr>
                <tr>
                  <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                  <td>河南</td>
                  <td>黑/白</td>
                  <td>李木子(上海)icon</td>
                  <td>16:30</td>
                </tr>
                <tr>
                  <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                  <td>河南</td>
                  <td>黑/白</td>
                  <td>李木子(上海)icon</td>
                  <td>16:30</td>
                </tr>
              </tbody>
            </table>
          </div>
          <nav>
            <ul class="pagination pageList">
              <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
              </li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">…</a></li>
              <li><a href="#">10</a></li>
              <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="col-md-3 mainRight">
      <div class="panel panel-default contentBox bgf8">
        <div class="panel-body indexUser">
          <div class="userInfo clearfix">
            <div class="photo bfL"><a href="#"><%= image_tag("index/user_photo.jpg", alt: "")%></a></div>
            <div class="name">
              <h5><a href="#">李木子(上海)</a></h5>
              <div class="clearfix"><span class="tag">个人</span></div>
            </div>
          </div>
          <ul class="row userData">
            <li class="col-md-4">
              <p class="data"><a href="#">8888</a></p>
              <p class="tt">我的寻车</p>
            </li>
            <li class="col-md-4">
              <p class="data"><a href="#">8888</a></p>
              <p class="tt">我的报价</p>
            </li>
            <li class="col-md-4 last">
              <p class="data"><a href="#">8888</a></p>
              <p class="tt">我的关注</p>
            </li>
          </ul>
          <div class="userSubBtn">
            <button type="button" class="btn btn-default btn-block red"><span class="icon"></span>发布寻车</button>
            <button type="button" class="btn btn-default btn-block blue"><span class="icon"></span>发布资源</button>
          </div>
          <div class="userArr"></div>
        </div>
      </div>
      <div class="panel panel-default contentBox">
        <div class="panel-heading lineTitle">
          <h3 class="panel-title">一键找车</h3>
        </div>
        <div class="panel-body">
          <form class="carSearch">
            <input type="text" class="form-control input pr50" placeholder="品牌 车型 款式 指导价 …" />
            <input type="submit" class="btn btn-primary subBtn" value="搜索" />
          </form>
        </div>
      </div>
      <div class="panel panel-default contentBox">
        <div class="panel-heading lineTitle">
          <h3 class="panel-title">品牌筛选</h3>
        </div>
        <div class="panel-body brandSelect">
          <div class="dropdown w100p">
            <select name="" class="form-control">
              <option value="品牌1">品牌1</option>
              <option value="品牌2">品牌2</option>
              <option value="品牌3">品牌3</option>
            </select>
          </div>
          <input type="submit" class="btn btn-primary subBtn" value="提交">
        </div>
      </div>
    </div>
  </div>
</div>
