<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to "首页", root_path %></li>
    <li class="active"><%= @post._type == 1 ? '代发寻车' : '代发资源' %></li>
  </ol>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9 mainBox">
      <%= render partial: "form_#{@post._type}" %>
    </div>
    <div class="col-md-3 mainRight">
      <%= render partial: 'partials/right_user' %>
    </div>
  </div>
</div>
