@charset "utf-8";
/* CSS Document */
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form { margin: 0; }
ol, ul, textarea { margin: 0; padding: 0; }
body { font: 14px "Microsoft Yahei", Arial, Helvetica, sans-serif; line-height: normal!important; -webkit-text-size-adjust: none; color: #808080; background-color: #dadada; }
dl, dt, dd, ul, ol, li { list-style-type: none; }
h5, h6 { font-size: 100%; font-weight: normal; }
address, caption, cite, code, dfn, em, th, var { font-style: normal; font-weight: 500; }
select, input { font-size: 12px; vertical-align: middle; _vertical-align: baseline; outline: none; }
input { padding: 0; border-radius: 0; -webkit-appearance: none; }
input[type="checkbox"] { -webkit-appearance: checkbox; }
input[type="radio"] { -webkit-appearance: radio; }
textarea { resize: none; outline: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
img { border: none; }
a { color: #808080; text-decoration: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; }
audio:not([controls]) { display: none; }
input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
border:none;
padding:0;
}/*firefox input text-align center*/
.clearfix:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.clearfix { zoom: 1; }
/*
**styles reset end && page style begin**
*/
.container { padding: 0; }
/*top style*/
#topBar { height: 47px; min-height: inherit; margin-bottom: 10px; border-width: 0 0 1px; border-radius: 0; box-shadow: none; background-color: #ededed; background-image: none; }
#topBar.fixed { position: fixed; top: 0; left: 0; z-index: 100; width: 100%; box-shadow: 0px 4px 4px #c7c7c7; }
#topBar .container { background-color: #ededed; }
#topBar .logo { width: 160px; height: 46px; }
#topBar .logo a { display: table-cell; width: 160px; height: 46px; text-align: center; vertical-align: middle; }
#topBar .nav li a { height: 46px; line-height: 46px; padding: 0 16px; color: #808080; }
#topBar .nav li a:hover { color: #f4621b; }
#topBar .nav li a .icon { float: left; width: 26px; height: 46px; line-height: 46px; text-align: center; font-size: 20px; }
#topBar .nav > li.active { border: none; background: none; }
#topBar .nav li.active a { border-bottom: 2px solid #f4621b; color: #f4621b; box-shadow: none; }
#topBar .navbar-nav-right { font-size: 12px; }
#topBar .navbar-nav-right li { padding: 0; background: url(../imgs/line1x8.gif) no-repeat right center; }
#topBar .navbar-nav-right li .dropdown-menu li { background-image: none; }
#topBar .navbar-nav-right li.last { background: none; }
#topBar .navbar-nav-right li a { padding: 0 8px; }
#topBar .navbar-nav-right li a .icon { width: 20px; }
#topBar .navbar-nav-right li a .caret { margin-left: 8px; }
#topBar .navbar-nav-right li.open>a { box-shadow: none; }
/*index style*/
.mainBox { padding-right: 5px; }
.contentBox { margin-bottom: 10px; border-color: #ccc; border-radius: 0; box-shadow: none; }
.banner { height: 152px; overflow: hidden; }
.nav-tabs.carInfoTabs { height: 44px; padding: 2px 8px 0; border-bottom: none; color: #333; background-color: #ededed; }
.nav-tabs.carInfoTabs li a { height: 42px; line-height: 38px; padding: 4px 22px 0; border: none; color: #333; }
.nav-tabs.carInfoTabs li a:hover { color: #f4621b; }
.nav-tabs.carInfoTabs li a .icon { display: inline-block; width: 30px; margin-top: -4px; text-align: center; vertical-align: middle; }
.nav-tabs.carInfoTabs li a .icon img { width: 80%; }
.nav-tabs.carInfoTabs li.active a { padding: 0 22px; border-width: 0; border-top: 4px solid #f4621b; color: #f4621b; }
.nav-tabs.carInfoTabs.sm { height: 34px; }
.nav-tabs.carInfoTabs.sm li a { height: 32px; line-height: 28px; }
.nav-tabs.carInfoTabs.sm li a .icon { height: 28px; }
.nav-tabs.carInfoTabs.noBg { height: 30px; padding: 0; border-bottom: 1px solid #ebebeb; color: #333; background-color: transparent; }
.nav-tabs.carInfoTabs.noBg li a { height: 30px; line-height: 30px; padding: 0 22px; color: #808080; background-color: #eee; }
.nav-tabs.carInfoTabs.noBg li.active a { height: 30px; border: 1px solid #ddd; border-bottom: none; color: #f4621b; background-color: #FFF; }
.tab-pane { display: none; }
.tab-pane.active { display: block; }
.carInfoList li { float: left; width: 50%; padding: 14px 0; border-bottom: 1px solid #e6e6e6; }
.carInfoList li .logo { width: 46px; margin-right: 8px; text-align: center; }
.carInfoList li .logo img { width: 80%; }
.carInfoList li .info { padding-right: 20px; margin-left: 46px; font-size: 12px; color: #999; }
.carInfoList li .info .tt { height: 20px; line-height: 20px; margin-bottom: 4px; font-size: 14px; }
.carInfoList li .info .tt a { color: #666666; }
.carInfoList li .info .detail { height: 20px; line-height: 20px; }
.lineTitle { height: 34px; line-height: 34px; padding: 0 12px; border-width: 0; border-left: 4px solid #f4621b; border-radius: 0; font-size: 14px; font-weight: normal; background-color: #ededed; background-image: none; }
.lineTitle .more { font-size: 12px; color: #458cc7; }
.lineTitle .link { padding: 0 4px; font-size: 18px; color: #ff791f; }
.lineTitle .date { font-size: 12px; color: #666; }
.contentBox .lineTitle { height: 34px; line-height: 34px; padding: 0 12px; border-width: 0; border-left: 4px solid #f4621b; border-radius: 0; background-color: #ededed; background-image: none; }
.contentBox .lineTitle .panel-title { line-height: 34px; font-size: 14px; font-weight: normal; }
.hotCar li { margin: 8px auto; }
.hotCar li .box { min-height: 193px; padding: 5px; margin-bottom: 0; border-color: #e9e9e9; border-radius: 0; box-shadow: none; }
.hotCar li .box .imgBox { display: block; height: 110px; border: 1px solid #e6e6e6; overflow: hidden; }
.hotCar li .intro { line-height: 20px; padding: 4px; margin-top: 4px; font-size: 12px; color: #999999; }
.hotCar li .intro .name { height: 40px; line-height: 20px; font-size: 14px; color: #666666; }
.hotCar li .intro .name a { color: #666666; }
.hotCar li .intro .price { font-size: 14px; color: #ff791f; }
.newCarSelect { padding-bottom: 10px; border-bottom: 2px solid #e6e6e6; }
.newCarSelect .dropdown-toggle { height: 34px; }
.newSourceIcon { padding-bottom: 16px; }
.newSourceIcon li { float: left; margin-right: 24px; text-align: center; font-size: 12px; }
.newSourceIcon li a:hover { text-decoration: none; color: #ff791f; }
.sourceTab .table { margin-bottom: 0; }
.sourceTab .table>thead>tr>th { height: 42px; line-height: 42px; padding: 0 4px; border-bottom: 2px solid #e6e6e6; color: #333; }
.sourceTab .table>tbody>tr>td { position: relative; line-height: 20px; padding: 8px 4px; border-bottom: 1px solid #e6e6e6; color: #666; }
.sourceTab td .price, .sourceTab td .num { color: #ff791f; }
.sourceTab td a { color: #458cc7; }
.sourceTab td a.name { color: #666; }
.sourceTab a.name { color: #666; }
.sourceTab .sepLine { margin: 0 4px; color: #458cc7; }
.sourceTab .table>tbody>tr.done { background-color: #fcf1ea; }
.sourceTab .table>tbody>tr.recall { background-color: #e6e6e6; }
.sourceTab .table>tbody>tr.recall td, .sourceTab .table>tbody>tr.recall td a.name, .sourceTab .table>tbody>tr.recall td .price, .sourceTab .table>tbody>tr.recall td .num { color: #999; }
.sourceTab .table>tbody>tr>td .seal.seal_done_part { top: 0; right: 10px; width: 64px; height: 39px; background: url(seal_done_part.png) no-repeat center; }
.sourceTab .table>tbody>tr>td .seal.seal_recall_part { top: 0; right: 10px; width: 54px; height: 39px; background: url(seal_recall_part.png) no-repeat center; }
.sourceTab td .del { color: #b3b3b3; }
.moreLink { height: 18px; line-height: 18px; margin-top: 14px; font-size: 12px; }
.moreLink a { color: #458cc7; }
.mainRight { padding-left: 5px; }
.indexUser { position: relative; }
.indexUser .userInfo { margin-bottom: 30px; }
.indexUser .userInfo .photo { width: 75px; height: 75px; margin-right: 16px; border-radius: 50%; overflow: hidden; }
.indexUser .userInfo .name { display: table-cell; height: 75px; vertical-align: middle; }
.indexUser .userInfo .name h5 a { font-weight: bold; color: #323232; }
/*.indexUser .userInfo .name .tag { float: left; height: 14px; line-height: 14px; padding: 0 6px; margin-top: 6px; border-radius: 7px; font-size: 8px; -webkit-transform: scale(0.8); -o-transform: scale(1); color: #FFF; background-color: #b3b3b3; }*/
.indexUser .userInfo .name .tag { float: left; width: 35px; height: 14px; margin-top: 6px; }
.indexUser .userInfo .glyphicon { margin-right: 6px; }
.indexUser .userDetail { line-height: 24px; color: #666; }
.indexUser .userDetail p span, .indexUser .userDetail p strong { color: #ff791f; }
.indexUser .userData { margin-bottom: 16px; }
.indexUser .userData li { padding: 0 10px; text-align: center; background: url(../imgs/line1x20.gif) no-repeat right center; }
.indexUser .userData li.last { background: none; }
.indexUser .userData a .data { font-size: 18px; color: #323232; }
.indexUser .userData a .tt { font-size: 12px; color: #353535; }
.indexUser .userSubBtn .btn { margin-bottom: 10px; border: none; font-size: 16px; }
.indexUser .userSubBtn .btn .icon { position: relative; top: -2px; left: -50px; font-size: 26px; }
.indexUser .userSubBtn .btn .glyphicon { position: relative; top: 2px; left: -46px; }
.indexUser .userSubBtn .btn.red { color: #FFF; background-color: #fd6443; }
.indexUser .userSubBtn .btn.blue { color: #FFF; background-color: #36a3c3; }
.indexUser .userSubBtn .btn.red:hover { background-color: #da573b; }
.indexUser .userSubBtn .btn.blue:hover { background-color: #2d859f; }
.userArr { position: absolute; top: 0px; right: 0px; width: 44px; height: 44px; padding: 4px; text-align: right; color: #FFF; background: url(index/arr_bg.png) no-repeat left top; }
.userArr .icon { font-size: 20px; }
a.userArr:link, a.userArr:visited, a.userArr:hover, a.userArr:active { text-decoration: none; color: #FFF; }
.indexLogin .form-group { margin: 0 0 10px; }
.indexLogin .checkbox { padding-top: 0; color: #666; }
.indexLogin .checkbox .forget a { text-decoration: underline; color: #ff791f; }
.indexAppDL .appQR { width: 114px; height: 114px; padding: 10px; margin: 0 auto 18px; border: 1px solid #e6e6e6; border-radius: 8px; background-color: #FFF; }
.indexAppDL .appLink { margin: 0 -4px }
.indexAppDL .appLink li { padding: 0 4px; }
.indexAppDL .appLink li .btn { width: 100%; }
.indexAppDL .appLink li .btn .icon { position: relative; left: -10px; }
.indexAppDL .tel { padding-bottom: 4px; margin-top: 16px; }
.indexAppDL .tel .icon { width: 64px; height: 40px; padding-top: 8px; text-align: center; }
.indexAppDL .tel .info { line-height: 24px; color: #666; }
.searchBox { position: relative; }
.searchBox .input { float: left; width: 74%; margin-right: 4%; font-size: 12px; }
.searchBox .subBtn { float: right; width: 22%; }
.buttonInput { position: relative; }
.buttonInput .input { font-size: 12px; }
.buttonInput .subBtn { position: absolute; top: 2px; right: 2px; height: 30px; line-height: 30px; padding: 0 8px; border-radius: 3px; text-align: center; }
.brandSelect { }
.brandSelect .dropdown { float: left; width: 74%; margin-right: 4%; }
.brandSelect .subBtn { float: right; width: 22%; }
/*subPage style*/
.breadcrumb { padding: 0 15px; margin-bottom: 10px; color: #666; background-color: transparent; }
.breadcrumb>li+li:before { color: #666; }
.breadcrumb>.active { color: #666; }
.breadcrumb>li a { color: #428cca; }
/*source style*/
.mySourceOpe .updateTime { line-height: 34px; font-size: 12px; color: #313131; }
.mySourceTab { margin: auto -15px; border-bottom: 1px solid #e6e6e6; }
.mySourceTab .table { margin-bottom: 0; }
.mySourceTab .table>tbody>tr>td { position: relative; line-height: 24px; padding: 8px 15px; color: #666; }
.mySourceTab .box { position: relative; }
.mySourceTab .infoM { padding-right: 180px; }
.mySourceTab .infoM .name { line-height: 24px; }
.mySourceTab .infoM .name a { font-weight: bold; color: #333; }
.mySourceTab .infoM .info { }
.mySourceTab .infoM .info .m { float: left; margin: 0; margin-right: 24px; }
/*.mySourceTab .infoM .info .tag { float: left; height: 14px; line-height: 14px; padding: 0 6px; margin-top: 6px; border-radius: 7px; font-size: 8px; -webkit-transform: scale(0.8); -o-transform: scale(1); color: #FFF; background-color: #b3b3b3; }*/
.mySourceTab .infoM .info .tag { float: left; width: 35px; height: 14px; margin-top: 5px; margin-right: 6px; }
.mySourceTab .infoM .info .statu { margin-left: 6px; color: #38a876; }
.mySourceTab .infoPrice { position: absolute; top: 0; right: 0; width: 180px; text-align: right; }
.mySourceTab .infoPrice .price { margin-right: 8px; font-size: 18px; font-weight: bold; color: #ff791f; }
.mySourceTab .infoPrice .price .icon { display: inline-block; height: 24px; margin-top: -2px; margin-right: 8px; vertical-align: middle; font-style: normal; }
.mySourceTab .remark .info { min-height: 24px; margin-left: 50px; }
.mySourceTab .table>tbody>tr>td .btnGroups { display: none; position: absolute; top: 50%; right: 200px; margin-top: -11px; }
.mySourceTab .table>tbody>tr>td .btnGroups .btn { padding: 1px 10px; margin: auto 4px; }
/*pagelist style*/
.pageList { position: relative; left: 50%; float: left; margin-top: 15px; margin-bottom: 0; }
.pageList .pagination>span { float: left; }
.pageList .pagination>span>a { position: relative; float: left; padding: 6px 12px; margin-left: -1px; line-height: 1.42857143; color: #428cca; text-decoration: none; background-color: #fff; border: 1px solid #ddd; }
.pageList .pagination>span:first-child>a, .pageList .pagination>span:first-child { margin-left: 0; border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.pageList .pagination>span:last-child>a, .pageList .pagination>span:last-child { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
.pageList .pagination>span.current { position: relative; float: left; padding: 6px 12px; margin-left: -1px; line-height: 1.42857143; color: #428cca; text-decoration: none; background-color: #fff; border: 1px solid #ddd; background-color: #ebebeb; }
.pageList .pagination>span.gap { position: relative; float: left; padding: 6px 12px; margin-left: -1px; line-height: 1.42857143; color: #428cca; text-decoration: none; background-color: #fff; border: 1px solid #ddd; }
.sourceForm { margin: -16px 0 0; }
.sourceForm .row { margin: 0; border-top: 1px solid #e6e6e6; }
.sourceForm .row.first { border-top: none; }
.sourceForm .form-group { padding: 16px 0; margin: 0; }
.sourceForm .form-group .control-label { width: 64px; line-height: 30px; padding: 0 4px; text-align: left; font-weight: normal; color: #666; }
.sourceForm .form-group .inputBox { padding: 0; }
.sourceForm .form-group .dropdown { margin-right: 60px; }
.methodSelect { padding: 16px 0; border-top: 1px solid #f7d1b7 !important; border-bottom: 1px solid #f7d1b7 !important; }
.methodSelect .tt { margin-bottom: 6px; color: #666; }
.methodSelect .tt .sm { font-size: 12px; }
.methodSelect .tt .col-md-6 { padding: 0; }
.methodSelect .form-group { height: 38px; padding: 4px 0; margin: 0; }
.methodSelect .selectTag { float: left; font-weight: normal; color: #666; cursor: pointer; }
.methodSelect .selectTag input { float: left; margin: 2px 12px 0 0; }
.methodSelect .selectTag span { float: left; width: 80px; }
.methodSelect .selectTag span.current { color: #f4621b; }
.methodSelect .selectInput { position: relative; margin-bottom: 0;/* opacity: 0; filter: alpha(opacity=0);*/ }
.methodSelect .selectInput .units { position: absolute; top: 0; right: 4px; height: 30px; line-height: 30px; font-size: 11px; -webkit-transform: scale(0.9); -o-transform: scale(1); -webkit-transform-origin: center; color: #9a9a9a; }
.methodSelect .selectInput .form-control { float: left; width: 162px; padding-right: 32px; border-color: #FFF; box-shadow: none; }
.methodSelect.quote { margin-top: -1px !important; }
.methodSelect.quote .selectTag { line-height: 30px; }
.methodSelect.quote .selectTag input { float: left; margin: 8px 12px 0 0; }
.methodSelect .selectTag.active { color: #ff791f; }
/*.methodSelect .selectInput.active { opacity: 1; filter: alpha(opacity=100); }*/
.methodSelect .selectInput.active .form-control { border-color: #f4621b; }
.methodSelect .selectInput .form-control[disabled], .methodSelect .selectInput .form-control[readonly] { cursor: not-allowed; background-color: #FFF; opacity: 1; }
.sourceForm .sFormBox { padding: 20px 0; }
.sourceForm .sFormBox .sFormTag { width: 64px; padding-top: 8px; color: #666; }
.sourceForm .sFormBox .sFormArea { margin-left: 64px; }
.sourceForm .sFormBox .addImgGroups li { padding-right: 24px; }
.addImgGroups li .box { padding: 0; margin-bottom: 0; margin-left: -15px; border: none; box-shadow: none; color: #666; background-color: transparent; }
.addImgGroups li .box .tt { margin-bottom: 8px; }
.addImgGroups li .box .img { position: relative; width: 140px; height: 94px; background-color: #e6e6e6; }
.addImgGroups li .box .img .alt { position: absolute; z-index: 0; top: 50%; left: 0; width: 100%; height: 20px; line-height: 20px; margin-top: -10px; text-align: center; }
.addImgGroups li .box .img img { position: relative; z-index: 1; height: 94px; }
.fileBtn { position: relative; height: 34px; line-height: 34px; margin-top: 6px; border: 1px solid #ccc; border-radius: 4px; text-align: center; background-color: #f8f8f8; }
.fileBtn .button { position: absolute; top: 0; left: 0; width: 100%; height: 34px; overflow: hidden; opacity: 0; filter: alpha(opacity=0); cursor: pointer; }
.fileBtn:hover { background-color: #e6e6e6; }
.fileBtn.black { border: 1px solid #6d6d6d; color: #FFF; background-color: #6d6d6d; cursor: default; }
.sourceForm .sFormBox .fileBtn { width: 140px; }
.sourceForm .subGroup { padding-left: 64px; }
.sourceForm .subGroup .btn-default.orange { width: 200px; margin-right: 8px; border: none; font-size: 16px; }
.sourceDetail { line-height: 24px; color: #666; }
.sourceDetail .row { padding-bottom: 16px; margin: 0; border-bottom: 1px solid #e6e6e6; }
.sourceDetail .row .con { padding: 0; }
.sourceDetail .row .con .seal { top: 40px; right: 140px; width: 58px; height: 44px; }
.sourceDetail .name { line-height: 24px; padding-right: 20px; font-weight: bold; }
.sourceDetail .price { margin-right: 8px; }
.sourceDetail .price .icon { display: inline-block; height: 24px; margin-top: -2px; margin-right: 8px; vertical-align: middle; font-style: normal; }
.sourceDetail .price .num { font-size: 18px; font-weight: bold; color: #ff791f; }
.sourceDetail .reportLink { position: absolute; top: 0; right: 0; }
.sourceDetail .remark { position: relative; line-height: 24px; padding: 10px 0; border-bottom: 1px solid #f7d1b7; color: #666; }
.sourceDetail .remark .info { min-height: 48px; margin-left: 80px; }
.sourceDetail .remark .seal { top: 8px; left: 20%; width: 58px; height: 44px; }
.sourceDetail .dealBox { padding-top: 10px; border-top: 1px solid #f7d1b7; border-bottom: 1px solid #f7d1b7; }
.sourceDetail .dealBox .subBtn { width: 200px; margin-top: 20px; }
.detailPriceInfo { padding-top: 16px; }
.detailPriceInfo .time { font-size: 12px; color: #666; }
.detailPriceInfo .seal { top: 20px; left: 200px; width: 58px; height: 44px; }
.sourceGallery { margin-top: 20px; }
.sourceGallery li { width: 100%; margin-bottom: 10px; }
.sourceGallery li img { width: 100%; }
.followList li { padding: 8px 0; border-top: 1px solid #e6e6e6; }
.followList li.first { border-top: none; }
.followList li .photo { width: 44px; height: 44px; margin-right: 20px; border-radius: 50%; overflow: hidden; }
.followList li .detail { display: table-cell; height: 44px; line-height: 22px; vertical-align: middle; color: #666; }
.followList li .name a { color: #666; }
.followList li .tel { font-size: 12px; }
.quoteForm { }
.quoteForm .tips { margin-left: 14px; color: #f4621b; }
.boardForm { padding: 14px 0; border-bottom: 1px solid #f7d1b7 !important; }
.boardForm .tt { margin-bottom: 12px; color: #666; }
.boardForm .sub { margin-top: 12px; color: #f4621b; }
.boardList { }
.boardList li { padding: 14px 0; border-bottom: 1px solid #e6e6e6; }
.boardList li.last { border-bottom: none; }
.boardList li .photo { width: 44px; height: 44px; border-radius: 50%; overflow: hidden; }
.boardList li .detail { line-height: 24px; margin-left: 64px; color: #666; }
.boardList li .detail .name { font-weight: bold; color: #343434; }
.boardList li .detail .name a { color: #343434; }
.boardList li .detail .info { }
.boardList li .detail .time { text-align: right; }
.boardList li .detail .time .icon { display: inline-block; height: 24px; margin-top: -2px; margin-right: 8px; vertical-align: middle; font-style: normal; }
.boardList li .detail .time .icon-message:hover { text-decoration: none; color: #ff791f; }
#new_comment { margin-top: 10px; }
/*posts style*/
.selectCrumb { }
.selectCrumb li { float: left; height: 28px; line-height: 28px; padding: 0 10px; margin-top: 3px; margin-right: 6px; border: 1px solid #ccc; border-radius: 4px; color: #333; background-color: #f8f8f8; }
.selectCrumb li .close { margin: 1px 0 0 8px; }
.selectCrumb li.active { display: block; }
.carList { padding: 10px 0; border-bottom: 1px dashed #e6e6e6; }
.carList.last { border-bottom: none; }
.carList .tt { float: left; width: 100px; line-height: 26px; color: #333; }
.carList .listBox { position: relative; margin-left: 100px; }
.carList .listBox.toggle { padding-bottom: 20px; }
.carList .selectTag { margin-bottom: 6px; border: none; }
.carList .listBox.toggle .selectTag { display: none; }
.carList .listBox.toggle.current .selectTag { display: block; }
.carList .selectTag li { float: left; height: 20px; line-height: 18px; padding: 0 6px; margin-right: 8px; margin-bottom: 0; border: 1px solid transparent; text-transform: capitalize; font-size: 12px; }
.carList .selectTag li a, .carList .selectTag li.active a { margin: 0; border: none; border-radius: 0; }
.carList .selectTag li a:hover { color: #f4621b; }
.carList .selectTag li.active { line-height: 18px; color: #f4621b; border: 1px solid #f4621b; }
.carList .selectTag li.active a { color: #f4621b; }
.carList .list { }
.carList .listBox.toggle .list { height: 104px; overflow: hidden; }
.carList .listBox.toggle.current .list { height: auto; }
.carList .list li { float: left; height: 26px; line-height: 26px; padding: 0 6px; margin-right: 20px; border: 1px solid transparent; }
.carList .list li.current { line-height: 26px; border: 1px solid #f4621b; }
.carList .list li a { color: #458cc7; }
.carList .list li.current a { color: #f4621b; }
.carList .listBox .toggleBtn { position: absolute; bottom: 0; right: 0; height: 20px; line-height: 20px; font-size: 12px; color: #458cc7; cursor: pointer; }
.carSourceHis li { position: relative; line-height: 24px; padding: 4px 0; border-top: 1px solid #e6e6e6; color: #666; }
.carSourceHis li.first { border-top: none; }
.carSourceHis li .name { line-height: 24px; }
.carSourceHis li .name a { color: #666; }
.carSourceHis li .info .price { color: #ff791f; }
.seal { position: absolute; top: 0; right: 0; }
.carSourceHis li .seal.seal_done_sm { top: 2px; right: -10px; width: 58px; height: 44px; background: url(seal_done_sm.png) no-repeat center; }
/*modal style*/
.modal.box { }
.modal.box .modal-sm { width: 364px; }
.modal.box .modal-content { border: 1px solid #ccc; border-radius: 0; box-shadow: none; background-color: #f8f8f8; }
.modal.box .modal-header { padding: 0; }
.modal.box .modal-header .modal-title .lineTitle { color: #333; }
.modal.box .modal-header .close { margin: 8px 8px 0 0; }
.modal.box .modal-body { padding: 15px 44px; }
.modal.box .modal-body .dropdown .dropdown-toggle { font-size: 12px; color: #999; }
.modal.box .modal-body .checkbox a { padding-left: 20px; text-decoration: underline; color: #ff791f; }
.modal.box .modal-body .checkbox input { margin-left: 0; }
.modal.box .modal-body input { font-size: 12px; }
.modal.box .modal-footer { padding: 0 44px 26px; border-top: 0; }
#myReport .form-group { padding: 10px 0; margin: 0; color: #666; }
#myReport .form-group .col-md-6 { margin: 0; }
.alertTips { position: absolute; z-index: 100; top: 0; left: 50%; width: 400px; height: 200px; padding: 20px; margin-left: -200px; border-radius: 0 0 10px 10px; box-shadow: 0px 6px 6px 0 #999; background-color: #FFF; }
.alertTips .tt { margin-top: 20px; text-align: center; font-size: 18px; color: #ff791f; }
.alertTips .info { display: table-cell; width: 400px; height: 100px; text-align: center; vertical-align: middle; }
/*userCenter style*/
.userOverview { position: relative; height: 248px; margin-bottom: 10px; background: #f3f3f3 url(user/bannerBg.jpg) no-repeat right bottom; }
.userOverview .userInfo { padding: 20px; }
.userOverview .userInfo .photo { width: 118px; height: 118px; border: 5px solid #d3d3d3; border-radius: 50%; text-align: center; overflow: hidden; }
.userOverview .userInfo .detail { display: inline-block; line-height: 20px; margin-left: 40px; }
.userOverview .userInfo .detail .name { float: left; line-height: 22px; margin-right: 8px; font-size: 18px; font-weight: bold; color: #323232; }
/*.userOverview .userInfo .detail .type { float: left; height: 22px; line-height: 22px; padding: 0 10px; margin-right: 8px; border-radius: 11px; font-size: 13px; color: #FFF; background-color: #b3b3b3; }*/
.userOverview .userInfo .detail .type { float: left; width: 56px; height: 22px; margin-right: 8px; }
.userOverview .userInfo .detailTab { margin-top: 8px; color: #666; }
.userOverview .userInfo .detailTab .tip { color: #ff791f; }
.userDataTag { position: absolute; bottom: 0; left: 0; width: 100%; height: 56px; border: 1px solid #ccc; background: url(user/dataTagBg.png) repeat left top; }
.userDataTag .list { position: absolute; bottom: 0; left: 50%; margin-left: -255px; }
.userDataTag .list li { float: left; padding: 0 40px; }
.userDataTag .list li a { display: block; width: 90px; padding-bottom: 4px; text-align: center; color: #7d7d7d; }
.userDataTag .list li a .num { font-size: 24px; color: #323232; }
.userDataTag .list li a:hover, .userDataTag .list li.current a { text-decoration: none; color: #f4621b; }
.userDataTag .list li.current a { padding-bottom: 2px; border-bottom: 2px solid #f4621b; }
.userDataTag .link { position: absolute; right: 10px; bottom: 8px; }
.userDataTag .link a:hover { color: #f4621b; }
.systemMesList li { line-height: 24px; padding: 10px 0 10px 30px; border-bottom: 1px solid #e6e6e6; color: #818181; background-repeat: no-repeat; background-position: 4px 18px; }
.systemMesList li.unread { background-image: url(dot9x9.png); }
.systemMesList li .del { line-height: 24px; padding: 0; color: #9a9a9a; }
.followersList { margin: 14px 0 0; border-top: 1px solid #e6e6e6; }
.followersList li { position: relative; padding: 12px; border-right: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6; }
.followersList li.last { border-right: none; }
.followersList li .photo { width: 56px; height: 44px; }
.followersList li .photo img { border-radius: 50%; }
.followersList li .info { color: #666; }
.followersList li .info .name { line-height: 22px; }
.followersList li .info .name a { color: #666; }
.followersList li .info .tel { line-height: 22px; font-size: 12px; }
.followersList li .cancelBtn { position: absolute; top: 12px; right: 12px; }
/*accounts style*/
.accountsSetting { margin-bottom: 10px; background-color: #ededed; }
.accountsSetting .row { margin: 0; }
.accountsMenu { padding: 0; background-color: #ededed; }
.accountsMenu .title { height: 38px; border-bottom: 1px solid #ccc; }
.accountsMenu .title .tt { position: relative; bottom: -30px; left: 14px; padding: 0 4px; color: #808080; background-color: #ededed; }
.accountsMenu .list { margin-top: 34px; }
.accountsMenu .list li { margin-bottom: 10px; }
.accountsMenu .list li a { display: block; height: 34px; line-height: 34px; padding-left: 14px; color: #6c6c6c; }
.accountsMenu .list li a:hover, .accountsMenu .list li.active a { padding-left: 10px; border-left: 4px solid #f4621b; text-decoration: none; color: #f4621b; background-color: #FFF; }
.accountsMenu .list li.active a { font-weight: bold; }
.accountsMenu .list li .icon { float: left; width: 20px; height: 34px; line-height: 34px; margin-right: 10px; text-align: center; font-size: 18px; }
.accountsMain { min-height: 300px; padding: 0 20px; background-color: #FFF; }
.accountsMain .title { height: 38px; line-height: 38px; border-bottom: 2px solid #e6e6e6; color: #333; }
.accountsMain .row { padding: 30px 0; }
.accountsMain .row.mrl-15 { margin: 0 -15px; }
.accountsMain .row.ptb0 { padding-top: 0; padding-bottom: 0; }
.accountsMain .photoArea .photo { width: 180px; height: 180px; margin: 0 auto; border-radius: 50%; text-align: center; overflow: hidden; }
.accountsMain .photoArea .tips { line-height: 24px; padding: 0 10px; margin: 10px 0; text-align: center; color: #808080; }
.accountsMain .photoArea .fileInput { width: 100px; margin: 0 auto; }
.accountsMain .formArea { min-height: 300px; padding: 0 30px; border-left: 1px solid #e6e6e6; }
.accountsMain .formArea .box { padding: 20px 0; border-bottom: 1px dashed #e6e6e6; }
.accountsMain .formArea .box.last { border-bottom: none; }
.accountsMain .formArea .form-group { padding: 4px 0; margin-bottom: 0; }
.accountsMain .formArea .control-label { line-height: 34px; font-weight: normal; color: #808080; }
.accountsMain .levelBox { padding-bottom: 80px; margin: 4px 30px 0 0; border: none; border-radius: 0; }
.accountsMain .levelBox .levelProcess p { height: 34px; line-height: 34px; margin: 12px 0; }
.accountsMain .levelBox .process { max-width: 220px; }
.accountsMain .levelBox .process p { position: relative; float: left; min-width: 110px; margin: 6px 0; color: #808080; }
.accountsMain .levelBox .process p .next_arr { position: absolute; bottom: -20px; left: 50%; width: 8px; height: 26px; margin-left: -4px; background: url(user/processArr.png) no-repeat left top; }
.accountsMain .levelBox .process p .next_arr_r { position: absolute; bottom: 12px; right: -20px; width: 24px; height: 99px; background: url(user/processArr_r.png) no-repeat left top; }
.accountsMain .levelBox .status p { text-align: right; }
.accountsMain .levelBox .status p .icon_done { margin-right: 8px; }
.accountsMain .levelBox .backLink { padding: 8px 0; }
.accountsMain .levelBox .backLink a { color: #428cca; }
.accountsMain .levelBox .addImgGroups li .box .img .alt { font-size: 24px; }
.accountsMain .levelBox .fileBtn { width: 80px; margin-top: 20px; }
.accountsMain .levelBox .tips { color: #f4621b; }
.accountsMain .levelBox .subBtn { width: 200px; margin-top: 16px; }
.accountsMain .levelIcon { width: 76px; }
.accountsMain .passwordForm { line-height: 34px; padding: 30px; }
.accountsMain .passwordForm .form-group { margin-bottom: 10px; }
.accountsMain .passwordForm .tips { color: #ff791f; }
.accountsMain .passwordForm .tips a { text-decoration: underline; color: #ff791f; }
.aboutUsMain.row { padding: 16px; margin: 30px 40px 0 0; border: 1px solid #ccc; border-radius: 8px; background: url(user/aboutUsBg.jpg) repeat left top; }
.aboutUsMain.row .photoBox { text-align: center; }
.aboutUsMain.row .photoBox .photo { width: 78px; height: 78px; margin: 0 auto; border-radius: 50%; overflow: hidden; }
.aboutUsMain.row .photoBox .name { margin: 8px 0; font-size: 12px; color: #323232; }
.aboutUsMain.row .photoBox .name span { margin-right: 6px; font-size: 14px; }
/*.aboutUsMain.row .photoBox .tag { display: block; width: 36px; height: 14px; line-height: 14px; margin: 0 auto; border-radius: 7px; text-align: center; font-size: 8px; -webkit-transform: scale(0.8); -o-transform: scale(1); color: #FFF; background-color: #b3b3b3; }*/
.aboutUsMain.row .photoBox .tag { display: block; width: 35px; height: 14px; margin: 0 auto; }
.aboutUsMain.row .infoBox { color: #323232; }
.aboutUsMain.row .infoBox td { height: 38px; line-height: 24px; }
.aboutUsForm.row { margin-right: 25px; }
.aboutBlank { padding: 100px 0; text-align: center; }
/*foot style*/
#foot { padding-bottom: 40px; }
.copyright { font-size: 12px; }
.copyright p { line-height: 24px; color: #1a1a1a; }
.copyright p a { color: #1a1a1a; }
/*input style*/
.dropdown.w100p .btn { width: 100%; text-align: left; }
.dropdown.w100p .btn .caret { float: right; margin-top: 8px; }
.btn { text-shadow: none; }
.btn .icon { display: inline-block; width: 20px; height: 22px; margin-top: -4px; margin-bottom: 0px; text-align: left; vertical-align: bottom; font-size: 22px; }
.btn.btn-sm .icon, .btn.btn-xs .icon { margin-top: -4px; margin-bottom: -4px; font-size: 16px; }
.btn .icon.icon-upgrade { position: relative; left: -6px; }
.btn.btn-sm .icon.icon-upgrade, .btn.btn-xs .icon.icon-upgrade { left: 0; }
.btn .caret { margin-left: 8px; }
.btn.w100p { width: 100%; }
.btn.btnW200 { width: 200px; }
.btn.orange { border-color: #ff791f; color: #FFF; background-color: #ff791f; }
.btn.orange:hover { border-color: #c8621d; background-color: #c8621d; }
.btn.blue { border-color: #5ac0de; color: #FFF; background-color: #5ac0de; }
.btn.blue:hover { border-color: #489bb3; background-color: #489bb3; }
.btn.black { color: #FFF; background-color: #6d6d6d; }
.btn.black:hover { background-color: #5b5b5b; }
.btn_spacing { padding-right: 2px; letter-spacing: 10px; }
.btn.p0 { padding-right: 0; padding-left: 0; }
.icon.icon-money { font-size: 26px; color: #ff791f; }
.icon.icon-message { font-size: 24px; }
.icon.icon-refresh { margin-right: 6px; }
/*
**page style end && class reset begin**
*/
.hide { display: none; }
.show { display: block; }
.pRel { position: relative; }
.pAbs { position: absolute; }
.t0 { top: 0; }
.r0 { right: 0; }
.b0 { bottom: 0; }
.l0 { left: 0; }
.bfL { float: left; }
.bfR { float: right; }
.w30p { width: 30%; }
.prl0 { padding-right: 0; padding-left: 0; }
.pr50 { padding-right: 50px; }
.pr84 { padding-right: 84px; }
.pb200 { padding-bottom: 200px; }
.mt-20 { margin-top: -20px; }
.mrl-15 { margin: 0 -15px; }
.mt6 { margin-top: 6px; }
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mr14 { margin-right: 14px; }
.mr20 { margin-right: 20px; }
.mb10 { margin-bottom: 10px; }
.ml6 { margin-left: 6px; }
.txtL { text-align: left; }
.txtC { text-align: center; }
.txtR { text-align: right; }
.bgf8 { background-color: #f8f8f8; }
.bgf9 { background-color: #f9f9f9; }
/*
**class reset end**
*/
