.hr-line-dashed
.search-result
  - if @user.present?
    -# TODO: logic for a. 已注册或已联系 b. 我来联系
    = @user.name
    -# TODO: add real logic & method
    -# - if @user.registered?
    -#   已注册
    -# - elsif @user.contacted?
    -#   已联系
    -# - else
    -#   = link_to '我来联系', '#'
  - else
    -# 此手机号码不存在
    -# b. 我来联系?
    = link_to '我来联系', contact_admin_users_path(mobile: @mobile), method: :post, class: 'btn btn-warning'
