<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link href="assets/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="assets/iconfonts.css" rel="stylesheet" type="text/css" />
<link href="assets/default.css" rel="stylesheet" type="text/css" />
<title>牛牛汽车</title>
</head>

<body class="mobileBg">
<section class="mobileBox">
  <section class="logo"><%= image_tag("mobile/logo.png", alt: "", width: "70%") %></section>
  <section class="txtC downloadBtn">
    <a href="#" class="btn btn-default btn-lg orange"><span class="icon icon-download"></span>立即下载</a>
  </section>
</section>
</body>
</html>
