<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'iconfonts', media: 'all', 'data-turbolinks-track' => true %>
<title>牛牛汽车</title>
</head>

<body class="mobileBg">
<section class="mobileBox">
  <section class="logo"><%= image_tag("mobile/logo.png", alt: "", width: "70%") %></section>
  <section class="txtC downloadBtn">
    <a href="#" class="btn btn-default btn-lg orange"><span class="icon icon-download"></span>立即下载</a>
  </section>
</section>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?9e884c78bd7bfb5c8bee0f9c00fa772f";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>
